### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [1]:
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [33]:
!pwd

/Users/hemingyi/Documents/UrbanTemporalNetworks/Data Collection Scripts

In [34]:
# raw data directory
dataDir = '/Users/hemingyi/Documents/UrbanTemporalNetworks/rawData/'

In [35]:
files = glob.glob(dataDir+'*csv')
len(files)

36

In [ ]:
pd.read_csv(fil)

### identify zones of interest

In [36]:
zones = pd.read_csv('../Data/taxi_zones.csv')
zones.head(2)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens

In [37]:
zones[zones.zone.apply(lambda x: 'Airport' in x)][['zone','LocationID']]

                  zone  LocationID
0       Newark Airport           1
136        JFK Airport         132
145  LaGuardia Airport         138

In [38]:
zones[zones.zone.apply(lambda x: 'Station' in x)][['zone','LocationID']]

                             zone  LocationID
185  Penn Station/Madison Sq West         186

In [39]:
zone_dict = {'Jfk':  132,
'Lga' : 138,
'Penn' : 186,
'EWR':1}
zone_dict

{'Jfk': 132, 'Lga': 138, 'Penn': 186, 'EWR': 1}

### Run following script for each hub

In [40]:
hub = 'Penn'
zone = zone_dict[hub]
zone

1

In [41]:
processedFileDir = "../processedData/"
processedFile = processedFileDir+hub+"VehicleByHour.csv"

In [42]:
validDestZones = list(set([z for z in zones.LocationID if z != zone]))
len(validDestZones)

259

In [20]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file)
    print("DataFrame Shape: "+str(df.shape))
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1
        
    if vehicleType == 'green':
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)


    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from selected hub
    df = df[(df['PULocationID'] == zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['Date', 'Hour', 'DOLocationID','passenger_count']]
    
    # Hourly aggregation
    #df_count = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count = df.groupby(['Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count.rename(columns={'passenger_count': 'vehicle_count'},inplace=True)

    #df_sum = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()

    #aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    aggregatedDf = df_count
    
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing green_tripdata_2018-06.csv
DataFrame Shape: (739373, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
create results file...
file saved..
------------------------------------------------
Processing green_tripdata_2018-12.csv
DataFrame Shape: (685373, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-07.csv
DataFrame Shape: (684455, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-11.csv
DataFrame Shape: (656573, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-05.csv
DataFrame Shape: (797233, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-04.csv
DataFrame Shape: (800084, 19)
JFK out DataFrame Shape: (1, 19)
Aggregated DataFrame Shape: (1, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-17    16            66              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-10.csv
DataFrame Shape: (710510, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-08.csv
DataFrame Shape: (7849134, 17)
JFK out DataFrame Shape: (24, 17)
Aggregated DataFrame Shape: (24, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-03     8            80              1
1  2018-08-04    17           230              1
2  2018-08-04    20            50              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-01.csv
DataFrame Shape: (793529, 19)
JFK out DataFrame Shape: (1, 19)
Aggregated DataFrame Shape: (1, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-02    19            66              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-09.csv
DataFrame Shape: (8040133, 17)
JFK out DataFrame Shape: (34, 17)
Aggregated DataFrame Shape: (34, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01    17            93              1
1  2018-09-02    11           231              1
2  2018-09-03     9           186              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-08.csv
DataFrame Shape: (22116391, 7)
JFK out DataFrame Shape: (2093, 8)
Aggregated DataFrame Shape: (2009, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-01     0           137              1
1  2018-08-01     0           142              1
2  2018-08-01     0           229              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-03.csv
DataFrame Shape: (837149, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-02.csv
DataFrame Shape: (769940, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-09.csv
DataFrame Shape: (22147421, 7)
JFK out DataFrame Shape: (2264, 8)
Aggregated DataFrame Shape: (2173, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01     0           236              1
1  2018-09-01     1           143              1
2  2018-09-01     1           224              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-07.csv
DataFrame Shape: (7849748, 17)
JFK out DataFrame Shape: (24, 17)
Aggregated DataFrame Shape: (24, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-02    10           125              1
1  2018-07-03    22            75              1
2  2018-07-04    15           237              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-04.csv
DataFrame Shape: (21049377, 7)
JFK out DataFrame Shape: (2499, 8)
Aggregated DataFrame Shape: (2388, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01     0           113              1
1  2018-04-01     1           181              1
2  2018-04-01     5           137              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-10.csv
DataFrame Shape: (23286795, 7)
JFK out DataFrame Shape: (2309, 8)
Aggregated DataFrame Shape: (2209, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01     0            62              1
1  2018-10-01     0            79              1
2  2018-10-01     0            80              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-11.csv
DataFrame Shape: (22870474, 7)
JFK out DataFrame Shape: (2353, 8)
Aggregated DataFrame Shape: (2239, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01     1            68              1
1  2018-11-01     2            87              1
2  2018-11-01     4           140              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-05.csv
DataFrame Shape: (21565692, 7)
JFK out DataFrame Shape: (2558, 8)
Aggregated DataFrame Shape: (2429, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-01     0            22              1
1  2018-05-01     0           158              1
2  2018-05-01     1           262              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-12.csv
DataFrame Shape: (8173231, 17)
JFK out DataFrame Shape: (29, 17)
Aggregated DataFrame Shape: (29, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-01    17           231              1
1  2018-12-02     5           138              1
2  2018-12-03     9           142              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-06.csv
DataFrame Shape: (8713831, 17)
JFK out DataFrame Shape: (22, 17)
Aggregated DataFrame Shape: (22, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-03    11           113              1
1  2018-06-04     9            13              1
2  2018-06-06    14           125              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-10.csv
DataFrame Shape: (8821105, 17)
JFK out DataFrame Shape: (27, 17)
Aggregated DataFrame Shape: (25, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01    13           121              1
1  2018-10-01    14           231              1
2  2018-10-02     5           144              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-04.csv
DataFrame Shape: (9305515, 17)
JFK out DataFrame Shape: (23, 17)
Aggregated DataFrame Shape: (23, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01    14           132              1
1  2018-04-01    19            48              1
2  2018-04-02    13           144              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-07.csv

DataFrame Shape: (21596443, 7)
JFK out DataFrame Shape: (2190, 8)
Aggregated DataFrame Shape: (2106, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-01     0            41              1
1  2018-07-01     0            79              1
2  2018-07-01     0           140              2
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv
DataFrame Shape: (21135283, 7)
JFK out DataFrame Shape: (2069, 8)
Aggregated DataFrame Shape: (1992, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-01     0            13              1
1  2018-06-01     0           107              1
2  2018-06-01     0           113              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-12.csv
DataFrame Shape: (23854144, 7)
JFK out DataFrame Shape: (2680, 8)
Aggregated DataFrame Shape: (2557, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-01     0            23              1
1  2018-12-01     0            79              1
2  2018-12-01     1            48              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-05.csv
DataFrame Shape: (9224063, 17)
JFK out DataFrame Shape: (26, 17)
Aggregated DataFrame Shape: (25, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-02    10           246              1
1  2018-05-03    19           112              1
2  2018-05-03    22           249              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-11.csv
DataFrame Shape: (8145164, 17)
JFK out DataFrame Shape: (28, 17)
Aggregated DataFrame Shape: (28, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01     0             4              1
1  2018-11-04    14           132              1
2  2018-11-04    18           237              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-01.csv
DataFrame Shape: (8759874, 17)
JFK out DataFrame Shape: (17, 17)
Aggregated DataFrame Shape: (17, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01     7           197              1
1  2018-01-01    11           132              1
2  2018-01-02     9            50              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-09.csv
DataFrame Shape: (666708, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-02.csv
DataFrame Shape: (19350693, 7)
JFK out DataFrame Shape: (2169, 8)
Aggregated DataFrame Shape: (2057, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-01     1            10              1
1  2018-02-01     1            70              1
2  2018-02-01     1            79              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-03.csv
DataFrame Shape: (21985249, 7)
JFK out DataFrame Shape: (2252, 8)
Aggregated DataFrame Shape: (2167, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-01     0           127              1
1  2018-03-01     1           238              1
2  2018-03-01     4            13              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-08.csv
DataFrame Shape: (666376, 19)
JFK out DataFrame Shape: (0, 19)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-02.csv
DataFrame Shape: (8492076, 17)
JFK out DataFrame Shape: (14, 17)
Aggregated DataFrame Shape: (14, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-02    17           186              1
1  2018-02-05     6           158              1
2  2018-02-05     7           237              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-01.csv
DataFrame Shape: (19808094, 7)
JFK out DataFrame Shape: (2566, 8)
Aggregated DataFrame Shape: (2409, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01     0           162              2
1  2018-01-01     0           239              1
2  2018-01-01     0           257              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-03.csv
DataFrame Shape: (9430376, 17)
JFK out DataFrame Shape: (24, 17)
Aggregated DataFrame Shape: (24, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-02    10           230              1
1  2018-03-02    16            41              1
2  2018-03-04    13           170              1
append to results...
file saved..
------------------------------------------------

### Further processing

In [21]:
def getcCompleteGridDf(minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    print(len(days))
    print(len(hours))
    
    combList = list(itertools.product(*[days,hours,locations]))
    dfList = [{'Date':d, 'Hour':h, 'DOLocationID':l} for d,h,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [22]:
processedDf = pd.read_csv(processedFile)
processedDf.head(2)

         Date  Hour  DOLocationID  vehicle_count
0  2018-04-17    16            66              1
1  2018-08-03     8            80              1

In [23]:
processedDf.shape

(27026, 4)

In [24]:
# ensuring proper grouping since files were grouped by independently
processedDf = processedDf.groupby(['Date', 'Hour', 'DOLocationID']).sum().reset_index()
processedDf.shape

(27013, 4)

In [25]:
# sanity checks
validYears = [2018]
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[0]) in validYears)]

validMonths = list(range(1,13))
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[1]) in validMonths)]

processedDf.shape

(27013, 4)

In [26]:
minDate, maxDate = (processedDf.Date.min(), processedDf.Date.max()) 
#v_types = list(set(processedDf.vehicle_type))
locations = list(set(processedDf.DOLocationID))

#print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(minDate,maxDate,locations)
dateHourDf.shape

228
365
24

(1997280, 3)

In [27]:
dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date'])
processedDf['Date'] = pd.to_datetime(processedDf['Date'])

In [28]:
mergedDf = pd.merge(dateHourDf,processedDf, on=['Date', 'Hour', 'DOLocationID'], how='left')
mergedDf.fillna(0, inplace=True)
mergedDf['Date'] = mergedDf['Date'].dt.date
print(mergedDf.shape)
mergedDf.head(3)

(1997280, 4)

   DOLocationID        Date  Hour  vehicle_count
0             3  2018-01-01     0            0.0
1             4  2018-01-01     0            0.0
2             5  2018-01-01     0            0.0

In [29]:
# sanity check
print(processedDf.vehicle_count.sum())
print(mergedDf.vehicle_count.sum())

28296
28296.0

In [30]:
# sanity check for size of new dataframe
366*258*24

2266272

In [77]:
# fraction of combinations that have data. Data is very scarce !!!
2332298/4520160

0.5159768680754664

In [62]:
mergedDf['Date'] = mergedDf['Date'].astype('str')
mergedDf['Hour'] = mergedDf['Hour'].astype('str')
mergedDf['DOLocationID'] = mergedDf['DOLocationID'].astype('str')

In [70]:
JFK = pd.read_csv("/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/JfkVehiceByHour.csv")
JFK['Date'] = JFK['Date'].astype('str')
JFK['Hour'] = JFK['Hour'].astype('str')
JFK['DOLocationID'] = JFK['DOLocationID'].astype('str')
JFK = JFK[JFK['DOLocationID']!='1']
del JFK['vehicle_count']

In [71]:
JFK.head(2)

  DOLocationID        Date Hour
1            2  2018-01-01    0
2            3  2018-01-01    0

In [72]:
mergedDf.head(2)

  DOLocationID        Date Hour  vehicle_count
0            3  2018-01-01    0            0.0
1            4  2018-01-01    0            0.0

In [75]:
EWR = JFK.merge(mergedDf,on=['DOLocationID','Date','Hour'],how='outer')
EWR = EWR.fillna(0)
EWR.to_csv(processedFile,index=False)