In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor
import warnings
warnings.filterwarnings('ignore')

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [8]:
def PCA_test(matrix, pca):

    reducedMatrixPCA = pca.transform(matrix)

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return reducedDf

In [9]:
def inverse_pca(matrix,pca):
    m = matrix.copy()
    return pca.inverse_transform(m)

In [10]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [11]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [12]:
def pca_performance(trainmatrix,testmatrix, components):
    rmseList = []
    r2List = []
    for n in components:
        scaler, s_train_matrix = standardize(trainmatrix)
        s_test_matrix = scaler.transform(testmatrix)

        pca,pcaTrain = getPCAFeatures(s_train_matrix,n=n)
        pcaTest = PCA_test(s_test_matrix, pca)
        
        network_prediction = inverse_pca(pcaTest,pca)
        network_prediction = inverse_standardize(network_prediction, scaler)

        r2Score = r2_score(testmatrix, network_prediction, multioutput='variance_weighted')
                
        r2List.append(r2Score)
    
    return r2List

In [13]:
def nonlinearperformance(trainmatrix,testmatrix,components, maxlag=12):
    r2List = []
    for n in components:
        print(n)
        scaler, s_train_matrix = standardize(trainmatrix)
        s_test_matrix = scaler.transform(testmatrix)

        pca,pcaTrain = getPCAFeatures(s_train_matrix,n=n)
        pcaTest = PCA_test(s_test_matrix, pca)

#         maxlag = 12
        DateColumns = ['Date', 'Hour']
        lagColumns = [c for c in pcaTrain.columns if c not in DateColumns]

        dataset_train = addLag(pcaTrain, maxlag)

        dataset_test = addLag(pcaTest, maxlag)

        X_train = dataset_train.drop(lagColumns , axis = 1)
        X_test = dataset_test.drop(lagColumns , axis = 1)
        y_train = dataset_train[lagColumns]
        y_test = dataset_test[lagColumns]
#         print(X_train.shape)
#         print(X_test.shape)
#         print(y_train.shape)
#         print(y_test.shape)

        rf2 = RandomForestRegressor(random_state = 0, n_estimators=200, 
                                   min_samples_split=10,
                                   min_samples_leaf= 3, 
                                   max_features= 'sqrt',
                                   max_depth= 30, 
                                   bootstrap= True)

        rf2.fit(X_train,y_train)

        pca_prediction = rf2.predict(X_test)

        network_prediction = inverse_pca(pca_prediction,pca)

        network_prediction = inverse_standardize(network_prediction, scaler)

        r2Score = r2_score(testmatrix[maxlag:], network_prediction, \
                           multioutput='variance_weighted')
        
        r2List.append(r2Score)
    return r2List

#### Preparing Data

In [19]:
hub = 'Penn'
tune_hyp_params = False
pca_comps = 6

In [20]:
dataDir = '/home/mingyi/Dropbox/UrbanTemporalNetworks/processedData/'
file = dataDir + hub + 'VehicleByHour.csv'

In [21]:
# file = '/home/urwa/Documents/Projects/NYU Remote/project/data/JfkVehiceByHour.csv'

In [22]:
data = loadData(file)

Raw shape:  (2251320, 4)
Days:  365

In [23]:
data = getTimeSeries(data)

In [24]:
data.shape

(8760, 257)

In [25]:
data

DOLocationID     1    2    3    4    5    6    7    8    9    10   ...  254  \
Date       Hour                                                    ...
2018-01-01 0       0    0    0    4    0    0    1    0    0    0  ...    0
           1       0    0    0    8    0    0    6    0    0    0  ...    0
           2       1    0    0    7    0    0    8    0    0    0  ...    0
           3       5    0    0    3    0    0    6    0    0    0  ...    0
           4       3    0    0    2    0    0    2    0    1    0  ...    0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      2    0    1    6    0    0    1    0    0    0  ...    0
           20      0    0    0   12    0    0    5    0    0    0  ...    0
           21      0    0    0    8    0    0    3    0    0    0  ...    0
           22      0    0    0    5    0    0    2    0    0    0  ...    0
           23      0    0    0    1    0    0    3    0    0    1  ...    0

DOLocationID     255  256  257  258  259  260  261  262  263
Date       Hour
2018-01-01 0       3    1    0    1    0    0    2    7    3
           1      13    4    3    0    0    1    3    5   13
           2       4    2    1    0    0    1    4    4   10
           3       5    3    1    1    1    1    1    7    5
           4       1    1    0    0    0    1    3    2    2
...              ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      3   10    1    0    0    0    3    6    7
           20      2    5    1    0    0    0    2    4    6
           21      2    5    0    0    1    0    2    0    3
           22      3    1    0    0    0    1    7    1    3
           23      0    2    0    0    0    0    3    1    0

[8760 rows x 257 columns]

In [26]:
matrix = data.values.astype(np.float64)

In [27]:
scaler, s_matrix = standardize(matrix)

In [28]:
pca,pcaData = getPCAFeatures(s_matrix,n=pca_comps)

In [29]:
pcaData.index = data.index
pcaData = pcaData.reset_index()

In [30]:
pcaData.to_csv('../../processedData/%spca%s.csv'%(hub.upper(),pca_comps),
               index=False)

In [31]:
externalDataDir = "/home/mingyi/Dropbox/UrbanTemporalNetworks/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [32]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,18/1/1 1:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [33]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [34]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [35]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [36]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [37]:
extDf = extDf[selected_columns]

In [38]:
print(pcaData.shape)
print(extDf.shape)

(8760, 8)
(8760, 14)

In [39]:
pcaData['Date'] = pd.to_datetime(pcaData['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [40]:
pcaData = pd.merge(pcaData,extDf, on=['Date', 'Hour'], how='inner')
print(pcaData.shape)

(8760, 20)

In [41]:
pcaData.columns

Index(['Date', 'Hour', '1', '2', '3', '4', '5', '6', 'Dow', 'arrival',
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [42]:
lagColumns = ['1', '2', '3', '4', '5', '6', 'arrival']
# lagColumns = ['1', '2', '3', 'arrival']

DateColumns = ['Date']

targetColumns = ['1', '2', '3', '4', '5', '6']

In [43]:
maxlag = 12

pcaData_lag = addLag(pcaData, maxlag, lagColumns)

pcaData_lag.shape

(8748, 104)

In [44]:
data.columns

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            254, 255, 256, 257, 258, 259, 260, 261, 262, 263],
           dtype='int64', name='DOLocationID', length=257)

In [45]:
pcaData_lag

,Date,Hour,1,2,3,4,5,6,Dow,arrival,...,5_lag_11,6_lag_11,arrival_lag_11,1_lag_12,2_lag_12,3_lag_12,4_lag_12,5_lag_12,6_lag_12,arrival_lag_12
12,2018-01-01,12,-2.109717,-1.273276,-2.187742,1.344566,0.532871,-1.525737,0,2,...,-4.178318,0.789165,1.0,1.066354,3.055054,-0.439517,0.508026,1.081236,0.238224,0.0
13,2018-01-01,13,2.735838,-1.550082,-0.493673,-0.485911,0.766685,0.151102,0,4,...,0.194514,-4.560311,1.0,8.685871,3.502754,-1.379519,-1.532097,-4.178318,0.789165,1.0
14,2018-01-01,14,1.928464,-0.656030,-1.605373,-2.186141,-0.516173,-1.741136,0,4,...,0.291644,-1.140775,0.0,9.962452,5.593679,2.203614,-1.794848,0.194514,-4.560311,1.0
15,2018-01-01,15,4.399894,-1.245650,-1.849453,-1.786007,-0.112876,-0.629330,0,4,...,-0.022799,-1.641758,0.0,6.187023,7.039646,2.833590,0.086845,0.291644,-1.140775,0.0
16,2018-01-01,16,8.320408,0.462024,-1.213917,-2.953561,-0.801198,-1.759971,0,6,...,0.052684,-0.398060,0.0,0.782430,6.245589,2.065193,1.273577,-0.022799,-1.641758,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31,19,5.025784,-1.653231,-1.846800,-3.456552,2.125020,0.583301,0,3,...,-0.673625,-2.126250,2.0,-7.139212,0.862787,0.359822,-1.074890,-0.386338,0.081729,1.0
8756,2018-12-31,20,5.382951,-1.941856,-1.258140,-2.152497,1.832496,0.597009,0,4,...,0.068984,-1.227039,4.0,-6.856731,0.545142,0.181094,0.779597,-0.673625,-2.126250,2.0
8757,2018-12-31,21,3.914864,-0.929810,0.987882,0.648259,3.884007,2.938737,0,3,...,-1.121423,-0.980159,3.0,-4.933395,1.023871,-0.581123,0.673274,0.068984,-1.227039,4.0
8758,2018-12-31,22,0.755087,0.862847,0.517167,1.005535,1.165602,-0.517842,0,2,...,-0.042665,-2.188612,4.0,-3.764957,-0.282021,-1.410497,0.794351,-1.121423,-0.980159,3.0
8759,2018-12-31,23,-0.345087,3.474491,0.911614,1.531338,-0.136916,2.760215,0,1,...,0.314390,-0.879837,5.0,-2.813150,-0.072170,-0.534885,1.755478,-0.042665,-2.188612,4.0

In [48]:
CommR2List = []
EdgeR2List = []
residualDf_list = []
rawList = []
networkPrediction = pd.DataFrame()

for m in range(1,13):
    print()

    print("month: ",m)
    month_index  = pd.to_datetime(pcaData_lag.Date).dt.month == m

    dataset_train = pcaData_lag[~month_index]
    dataset_test = pcaData_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]



    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    pca_prediction = rf2.predict(X_test)

    residual = y_test - pca_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    network_prediction = inverse_pca(pca_prediction,pca)
    network_prediction = inverse_standardize(network_prediction, scaler)
    
        # relu to convert all prediction to positive
    network_prediction = np.log(1+np.e**network_prediction)
    # round up negative values to 0
#     network_prediction = np.where(network_prediction<0,0,network_prediction)
    
    network_prediction_df = pd.DataFrame(network_prediction)
    network_prediction_df.columns = data.columns
    networkPrediction = pd.concat([networkPrediction,network_prediction_df])
    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_r2 = r2_score(data[edgeMonthIndex], network_prediction, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)


    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)
#     rawList.append()

month:  1
Train Size:  (8016, 104)
Test Size:  (732, 104)
Train R2:  0.9860230695118145
Test R2:  0.8313249282391801
Edge R2:  0.6537747683326578

month:  2
Train Size:  (8076, 104)
Test Size:  (672, 104)
Train R2:  0.986242334358137
Test R2:  0.7644136252573139
Edge R2:  0.6852700391996794

month:  3
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9857648419980527
Test R2:  0.8575725181430022
Edge R2:  0.6658237277429228

month:  4
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9858686919142496
Test R2:  0.8763049403504147
Edge R2:  0.7236730312371289

month:  5
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9858558010298933
Test R2:  0.875025794725024
Edge R2:  0.7233983903502214

month:  6
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9859980373201691
Test R2:  0.8611753803910516
Edge R2:  0.7034103137108079

month:  7
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9860909741921077
Test R2:  0.8329698827989991
Edge R2:  0.6973260084331754

month:  8
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9865086471482053
Test R2:  0.8066646744488275
Edge R2:  0.7071985744404449

month:  9
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9855730032302171
Test R2:  0.872976601799382
Edge R2:  0.6857084022732753

month:  10
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9862446969267281
Test R2:  0.8314913893536795
Edge R2:  0.6864407154853281

month:  11
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9861207876068845
Test R2:  0.8248011934546408
Edge R2:  0.6855904208316291

month:  12
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9860133954580272
Test R2:  0.7937969561764888
Edge R2:  0.6349935894020297

In [49]:
networkPrediction['Date'] = data.reset_index().iloc[12:]['Date'].values
networkPrediction.to_csv('/home/mingyi/Dropbox/UrbanTemporalNetworks/prediction/%sPCARelu%s.csv'%(hub,pca_comps),index=False)

In [50]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.8357098237615005
0.6877173317866084

In [48]:
res_df = pd.concat(residualDf_list, axis = 0)
res_df.to_csv('../../Resid/'+hub+'PCA'+str(pca_comps)+'RFCV.csv',index=False)