In [1]:
import pandas as pd
import geopandas as gpd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import PredefinedSplit
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor
import warnings
warnings.filterwarnings('ignore')

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df,zones):
    df = df.loc[df['DOLocationID'].isin(zones)]
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
#     table.columns = [i[1] for i in table.columns]
    missing_columns = [i for i in zones if i not in table.columns]
    for col in missing_columns:
        table[col] = 0
    table = table[sorted(table.columns)]
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [8]:
def inverse_pca(matrix,pca):
    m = matrix.copy()
    return pca.inverse_transform(m)

In [9]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

#### train PCA from 2017

In [10]:
zone = gpd.read_file('../../Data/NYC Taxi Zones.geojson')
zones = zone['location_id'].unique()
zones = [int(i) for i in zones]

In [11]:
len(zones)

260

In [12]:
hub = 'PENN'
pca_comps = 6
dataDir = '/home/mingyi/Dropbox/UrbanTemporalNetworks/processedData/'
file = dataDir + hub + 'VehicleByHour2017fromHub.csv'

In [13]:
data2017 = loadData(file)
data2017 = getTimeSeries(data2017,zones)
data2017.head()

Raw shape:  (2233800, 4)
Days:  365

DOLocationID     1    2    3    4    5    6    7    8    9    10   ...  254  \
Date       Hour                                                    ...
2017-01-01 0       0    0    0    1    0    0    2    0    0    0  ...    0
           1       0    0    0    8    0    0    3    0    1    0  ...    0
           2       1    0    0    3    0    0    7    0    0    0  ...    0
           3       0    0    0    1    0    0    4    0    0    0  ...    0
           4       3    0    0    4    0    0    5    0    0    0  ...    0

DOLocationID     255  256  257  258  259  260  261  262  263
Date       Hour
2017-01-01 0       1    0    0    0    0    1    1    1    7
           1       3    3    1    0    0    1    4    7   10
           2       3    2    0    0    1    2    4    3    6
           3       3    5    1    0    0    2    2    2    5
           4       2    2    0    0    0    0    1    2    3

[5 rows x 260 columns]

In [14]:
matrix2017 = data2017.values.astype(np.float64)
scaler, s_matrix2017 = standardize(matrix2017)
pca,pca_data2017 = getPCAFeatures(s_matrix2017,n=pca_comps)

In [15]:
r2_score(s_matrix2017,pca.inverse_transform(pca_data2017))

0.21077381762922803

#### Preparing Data

In [16]:

file = dataDir + hub + 'VehicleByHour2018fromHub.csv'

In [17]:
data = loadData(file)
data = getTimeSeries(data,zones)
data.shape

Raw shape:  (2260080, 4)
Days:  365

(8760, 260)

In [18]:
data

DOLocationID     1    2    3    4    5    6    7    8    9    10   ...  254  \
Date       Hour                                                    ...
2018-01-01 0       0    0    0    4    0    0    1    0    0    0  ...    0
           1       0    0    0    8    0    0    6    0    0    0  ...    0
           2       1    0    0    7    0    0    8    0    0    0  ...    0
           3       5    0    0    3    0    0    6    0    0    0  ...    0
           4       3    0    0    2    0    0    2    0    1    0  ...    0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      2    0    1    6    0    0    1    0    0    0  ...    0
           20      0    0    0   12    0    0    5    0    0    0  ...    0
           21      0    0    0    8    0    0    3    0    0    0  ...    0
           22      0    0    0    5    0    0    2    0    0    0  ...    0
           23      0    0    0    1    0    0    3    0    0    1  ...    0

DOLocationID     255  256  257  258  259  260  261  262  263
Date       Hour
2018-01-01 0       3    1    0    1    0    0    2    7    3
           1      13    4    3    0    0    1    3    5   13
           2       4    2    1    0    0    1    4    4   10
           3       5    3    1    1    1    1    1    7    5
           4       1    1    0    0    0    1    3    2    2
...              ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      3   10    1    0    0    0    3    6    7
           20      2    5    1    0    0    0    2    4    6
           21      2    5    0    0    1    0    2    0    3
           22      3    1    0    0    0    1    7    1    3
           23      0    2    0    0    0    0    3    1    0

[8760 rows x 260 columns]

In [19]:
matrix = data.values.astype(np.float64)
scaler, s_matrix = standardize(matrix)
pcaData = pd.DataFrame(pca.transform(s_matrix),columns=[str(i) for i in range(1,pca_comps+1)])

In [20]:
r2_score(s_matrix,pca.inverse_transform(pcaData))

0.2356979385402694

In [21]:
pcaData.index = data.index
pcaData = pcaData.reset_index()

In [22]:
externalDataDir = "/home/mingyi/Dropbox/UrbanTemporalNetworks/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [23]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,18/1/1 1:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [24]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [25]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [26]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [27]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [28]:
extDf = extDf[selected_columns]

In [29]:
print(pcaData.shape)
print(extDf.shape)

(8760, 8)
(8760, 14)

In [30]:
pcaData['Date'] = pd.to_datetime(pcaData['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [31]:
pcaData

,Date,Hour,1,2,3,4,5,6
0,2018-01-01,0,0.466930,2.756685,-0.558656,0.999892,0.853026,-0.116006
1,2018-01-01,1,6.995490,6.295010,1.429432,1.100127,-2.816458,-1.658851
2,2018-01-01,2,7.713498,7.673035,3.371142,2.971583,-1.369486,3.347227
3,2018-01-01,3,3.839743,7.681774,2.420267,3.303966,-0.127305,0.067353
4,2018-01-01,4,-1.387039,6.185412,1.196715,2.222785,0.823143,1.075229
...,...,...,...,...,...,...,...,...
8755,2018-12-31,19,5.800140,-0.165318,-0.012116,-2.947676,2.016234,0.703710
8756,2018-12-31,20,5.722744,-0.018275,0.467341,-2.513046,1.129334,-0.584846
8757,2018-12-31,21,3.840329,-0.293515,0.035999,0.690460,4.742360,-0.543557
8758,2018-12-31,22,0.420166,1.013544,0.272483,0.564684,1.802676,-0.206334
8759,2018-12-31,23,-1.705245,2.649806,0.302747,2.198865,1.578510,-2.214450

In [32]:
pd.merge(pcaData,extDf, on=['Date', 'Hour'], how='left')

,Date,Hour,1,2,3,4,5,6,Dow,arrival,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,0.466930,2.756685,-0.558656,0.999892,0.853026,-0.116006,0,0,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
1,2018-01-01,1,6.995490,6.295010,1.429432,1.100127,-2.816458,-1.658851,0,1,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
2,2018-01-01,2,7.713498,7.673035,3.371142,2.971583,-1.369486,3.347227,0,1,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
3,2018-01-01,3,3.839743,7.681774,2.420267,3.303966,-0.127305,0.067353,0,0,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
4,2018-01-01,4,-1.387039,6.185412,1.196715,2.222785,0.823143,1.075229,0,0,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31,19,5.800140,-0.165318,-0.012116,-2.947676,2.016234,0.703710,0,3,48,36,42.0,8.4,23,0,1.02,0.0,0,0
8756,2018-12-31,20,5.722744,-0.018275,0.467341,-2.513046,1.129334,-0.584846,0,4,48,36,42.0,8.4,23,0,1.02,0.0,0,0
8757,2018-12-31,21,3.840329,-0.293515,0.035999,0.690460,4.742360,-0.543557,0,3,48,36,42.0,8.4,23,0,1.02,0.0,0,0
8758,2018-12-31,22,0.420166,1.013544,0.272483,0.564684,1.802676,-0.206334,0,2,48,36,42.0,8.4,23,0,1.02,0.0,0,0
8759,2018-12-31,23,-1.705245,2.649806,0.302747,2.198865,1.578510,-2.214450,0,1,48,36,42.0,8.4,23,0,1.02,0.0,0,0

In [33]:
pcaData = pd.merge(pcaData,extDf, on=['Date', 'Hour'], how='left')
print(pcaData.shape)

(8760, 20)

In [34]:
pcaData.columns

Index(['Date', 'Hour', '1', '2', '3', '4', '5', '6', 'Dow', 'arrival',
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [35]:
lagColumns = ['arrival'] + [str(i) for i in range(1,1+pca_comps)]

DateColumns = ['Date']

targetColumns = [str(i) for i in range(1,1+pca_comps)]

In [36]:
maxlag = 12

pcaData_lag = addLag(pcaData, maxlag, lagColumns)

pcaData_lag.shape

(8748, 104)

In [37]:
data.columns

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            254, 255, 256, 257, 258, 259, 260, 261, 262, 263],
           dtype='int64', name='DOLocationID', length=260)

In [38]:
pcaData_lag

,Date,Hour,1,2,3,4,5,6,Dow,arrival,...,4_lag_11,5_lag_11,6_lag_11,arrival_lag_12,1_lag_12,2_lag_12,3_lag_12,4_lag_12,5_lag_12,6_lag_12
12,2018-01-01,12,-1.756152,-1.435937,-1.602037,-0.896645,-0.560044,0.178172,0,2,...,1.100127,-2.816458,-1.658851,0.0,0.466930,2.756685,-0.558656,0.999892,0.853026,-0.116006
13,2018-01-01,13,2.980662,-0.620216,-0.355862,-1.132999,0.544741,1.048777,0,4,...,2.971583,-1.369486,3.347227,1.0,6.995490,6.295010,1.429432,1.100127,-2.816458,-1.658851
14,2018-01-01,14,2.182039,0.265805,-0.265611,-2.332770,-1.543362,0.925399,0,4,...,3.303966,-0.127305,0.067353,1.0,7.713498,7.673035,3.371142,2.971583,-1.369486,3.347227
15,2018-01-01,15,4.747168,0.976669,-0.266325,-1.562269,-0.588273,0.693194,0,4,...,2.222785,0.823143,1.075229,0.0,3.839743,7.681774,2.420267,3.303966,-0.127305,0.067353
16,2018-01-01,16,7.796978,3.606312,1.251480,-1.312493,-1.612344,1.404765,0,6,...,0.430496,0.465457,0.401992,0.0,-1.387039,6.185412,1.196715,2.222785,0.823143,1.075229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31,19,5.800140,-0.165318,-0.012116,-2.947676,2.016234,0.703710,0,3,...,0.066619,-1.781724,1.343098,1.0,-7.053615,-1.002508,0.640749,-1.474052,-1.073487,-0.372597
8756,2018-12-31,20,5.722744,-0.018275,0.467341,-2.513046,1.129334,-0.584846,0,4,...,-0.075979,-0.833801,1.278001,2.0,-6.681804,-1.285409,-0.260242,0.066619,-1.781724,1.343098
8757,2018-12-31,21,3.840329,-0.293515,0.035999,0.690460,4.742360,-0.543557,0,3,...,-0.276245,-1.497718,0.143807,4.0,-4.948389,-0.381525,-0.701276,-0.075979,-0.833801,1.278001
8758,2018-12-31,22,0.420166,1.013544,0.272483,0.564684,1.802676,-0.206334,0,2,...,0.873298,-1.249489,2.016789,3.0,-3.390639,-1.008829,-1.507263,-0.276245,-1.497718,0.143807
8759,2018-12-31,23,-1.705245,2.649806,0.302747,2.198865,1.578510,-2.214450,0,1,...,-0.218371,-0.604345,2.151736,4.0,-2.748219,-0.881325,-1.483580,0.873298,-1.249489,2.016789

In [39]:
CommR2List = []
EdgeR2List = []
residualDf_list = []
rawList = []
networkPrediction = pd.DataFrame()

for m in range(1,13):
    print()

    print("month: ",m)
    month_index  = pd.to_datetime(pcaData_lag.Date).dt.month == m

    dataset_train = pcaData_lag[~month_index]
    dataset_test = pcaData_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]



    val_size = int(X_train.shape[0]*0.8)
    val_fold = list(-1*np.ones(X_train.shape[0]-val_size)) + list(np.zeros(val_size))
    ps = PredefinedSplit(val_fold)
    param_grid = [{
        "n_estimators": np.arange(10, 500, 50),
        "min_samples_split": np.arange(2, 50, 20),
        'min_samples_leaf': np.arange(2, 50, 20), 
        'max_features': ['sqrt'],
        'max_depth': np.arange(10, 50, 10),
    }]
    # fit_inverse_transform=True to make sure inverse transform available
    rf = RandomForestRegressor(random_state = 2019) 
    rf_grid_search = GridSearchCV(rf, param_grid, cv=ps, scoring='r2')
    rf_grid_search.fit(X_train, y_train)

    print("Train R2: ",rf_grid_search.best_estimator_.score(X_train,y_train))
    test_r2 = rf_grid_search.best_estimator_.score(X_test,y_test)
    print("Test R2: ",test_r2)


    pca_prediction = rf_grid_search.best_estimator_.predict(X_test)

    residual = y_test - pca_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    network_prediction = inverse_pca(pca_prediction,pca)

    network_prediction = inverse_standardize(network_prediction, scaler)
    
    # relu to convert all prediction to positive
#     network_prediction = np.log(1+np.e**network_prediction)
    # round up negative values to 0
#     network_prediction = np.where(network_prediction<0,0,network_prediction)

    network_prediction_df = pd.DataFrame(network_prediction)
    network_prediction_df.columns = data.columns
    networkPrediction = pd.concat([networkPrediction,network_prediction_df])
    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_r2 = r2_score(data[edgeMonthIndex], network_prediction, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)


    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)
#     rawList.append()

month:  1
Train Size:  (8016, 104)
Test Size:  (732, 104)
Train R2:  0.9535218058505853
Test R2:  0.8340172950505859
Edge R2:  0.6666022865468143

month:  2
Train Size:  (8076, 104)
Test Size:  (672, 104)
Train R2:  0.9559935029439565
Test R2:  0.7891192126999397
Edge R2:  0.6988550496438566

month:  3
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9532859057156757
Test R2:  0.8625060279415813
Edge R2:  0.6811665857082473

month:  4
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9527381878992447
Test R2:  0.8778093166350822
Edge R2:  0.7351864162099553

month:  5
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9535752051450543
Test R2:  0.8765277125034561
Edge R2:  0.7341575744777251

month:  6
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9535885982398742
Test R2:  0.8576389640943257
Edge R2:  0.7087134007170773

month:  7
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9541529726680761
Test R2:  0.8322050518229847
Edge R2:  0.7048058105269671

month:  8
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9551182793462722
Test R2:  0.8182993954888507
Edge R2:  0.718325749594476

month:  9
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9528714056940265
Test R2:  0.86985651439079
Edge R2:  0.6955684059292545

month:  10
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9542154837449244
Test R2:  0.8490394610932097
Edge R2:  0.7003568666811106

month:  11
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9545132702010857
Test R2:  0.8192125814635668
Edge R2:  0.6866276664905089

month:  12
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9547403952179263
Test R2:  0.8116794140261239
Edge R2:  0.6524250663392122

In [41]:
networkPrediction['Date'] = data.reset_index().iloc[12:]['Date'].values
networkPrediction['Hour'] = data.reset_index().iloc[12:]['Hour'].values
networkPrediction.to_csv('/home/mingyi/Dropbox/UrbanTemporalNetworks/prediction/learnFrom2017/from%sPCA%s.csv'%(hub,pca_comps),index=False)

In [40]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.8414925789342079
0.6985659065721004

In [42]:
networkPrediction[zones][networkPrediction[zones]<0] = 0
networkPrediction.to_csv('/home/mingyi/Dropbox/UrbanTemporalNetworks/prediction/learnFrom2017/from%sPCA%sRound.csv'%(hub,pca_comps),index=False)

In [195]:
network_prediction_value = networkPrediction.drop(columns=['Date','Hour']).values
network_prediction_value = np.where(network_prediction_value<0,0,network_prediction_value)
networkPrediction

In [58]:
res_df = pd.concat(residualDf_list, axis = 0)
res_df.to_csv('../../Resid/'+hub+'PCARoundup'+str(pca_comps)+'RFCV.csv',index=False)