In [1]:
import pandas as pd
import geopandas as gpd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import PredefinedSplit
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor
import warnings
warnings.filterwarnings('ignore')

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df,zones):
    df = df.loc[df['PULocationID'].isin(zones)]
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['PULocationID'], aggfunc=np.sum, fill_value=0)
#     table.columns = [i[1] for i in table.columns]
    missing_columns = [i for i in zones if i not in table.columns]
    for col in missing_columns:
        table[col] = 0
    table = table[sorted(table.columns)]
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def getPCAFeatures(matrix, n=10):
    pca = PCA(n_components=n)
    pca.fit(matrix)
    reducedMatrixPCA = pca.transform(matrix)
    reducedMatrixPCA.shape

    reducedDict = {str(i+1):reducedMatrixPCA[:,i] for i in range(reducedMatrixPCA.shape[1])}
    reducedDf = pd.DataFrame(reducedDict)
    #reducedDf.index = index
    return pca,reducedDf

In [8]:
def inverse_pca(matrix,pca):
    m = matrix.copy()
    return pca.inverse_transform(m)

In [9]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

#### train PCA from 2017

In [10]:
zone = gpd.read_file('../../Data/NYC Taxi Zones.geojson')
zones = zone['location_id'].unique()
zones = [int(i) for i in zones]

In [11]:
len(zones)

260

In [12]:
hub = 'LGA'
pca_comps = 6
dataDir = '/home/mingyi/Dropbox/UrbanTemporalNetworks/processedData/'
file = dataDir + hub + 'VehicleByHour2017toHub.csv'

In [13]:
data2017 = loadData(file)
data2017 = getTimeSeries(data2017,zones)
data2017.head()

Raw shape:  (2084880, 4)
Days:  365

PULocationID     1    2    3    4    5    6    7    8    9    10   ...  254  \
Date       Hour                                                    ...
2017-01-01 0       0    0    0    0    0    0    0    0    0    0  ...    0
           1       0    0    0    0    0    0    1    0    0    0  ...    0
           2       0    0    0    1    0    0    0    0    0    0  ...    0
           3       0    0    0    0    0    0    2    0    0    0  ...    0
           4       0    0    0    0    0    0    3    0    0    0  ...    0

PULocationID     255  256  257  258  259  260  261  262  263
Date       Hour
2017-01-01 0       0    0    0    0    0    0    0    0    0
           1       0    0    0    0    0    0    0    0    0
           2       0    0    0    0    0    0    1    0    0
           3       0    0    0    0    0    0    0    1    1
           4       0    0    0    0    0    0    0    1    1

[5 rows x 260 columns]

In [14]:
matrix2017 = data2017.values.astype(np.float64)
scaler, s_matrix2017 = standardize(matrix2017)
pca,pca_data2017 = getPCAFeatures(s_matrix2017,n=6)

In [15]:
r2_score(s_matrix2017,pca.inverse_transform(pca_data2017))

0.2519818180654014

#### Preparing Data

In [16]:
file = dataDir + hub + 'VehicleByHour2018toHub.csv'

In [17]:
data = loadData(file)
data = getTimeSeries(data,zones)
data.shape

Raw shape:  (2268840, 4)
Days:  365

(8760, 260)

In [18]:
data

PULocationID     1    2    3    4    5    6    7    8    9    10   ...  254  \
Date       Hour                                                    ...
2018-01-01 0       0    0    0    0    0    0    1    0    0    0  ...    0
           1       0    0    0    0    0    0    0    0    0    0  ...    0
           2       0    0    0    0    0    0    1    0    0    0  ...    0
           3       0    0    0    1    0    0    4    0    0    1  ...    0
           4       0    0    0    2    0    0   10    0    0    1  ...    0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      0    0    0    0    0    0    1    0    0    0  ...    0
           20      0    0    0    0    0    0    2    0    0    0  ...    0
           21      0    0    0    0    0    0    0    0    0    0  ...    0
           22      0    0    0    0    0    0    1    0    0    0  ...    0
           23      0    0    0    0    0    0    0    0    0    0  ...    0

PULocationID     255  256  257  258  259  260  261  262  263
Date       Hour
2018-01-01 0       0    1    0    1    0    1    0    0    0
           1       0    0    0    0    0    0    0    0    0
           2       0    0    0    1    0    0    1    2    0
           3       0    1    0    0    0    1    2    2    2
           4       4    2    1    0    0    5    2    6    3
...              ...  ...  ...  ...  ...  ...  ...  ...  ...
2018-12-31 19      0    0    0    0    0    1    0    0    0
           20      0    0    0    1    0    1    0    0    0
           21      0    1    0    1    0    0    0    0    0
           22      0    0    0    0    0    0    1    0    0
           23      0    0    0    0    0    0    0    0    0

[8760 rows x 260 columns]

In [19]:
matrix = data.values.astype(np.float64)
scaler, s_matrix = standardize(matrix)
pcaData = pd.DataFrame(pca.transform(s_matrix),columns=[str(i) for i in range(1,pca_comps+1)])

In [20]:
r2_score(s_matrix,pca.inverse_transform(pcaData))

0.2815002198304283

In [21]:
pcaData.index = data.index
pcaData = pcaData.reset_index()

In [22]:
externalDataDir = "/home/mingyi/Dropbox/UrbanTemporalNetworks/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [23]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,3,89,67,156,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
1,18/1/1 1:00,0,17,8,25,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0

In [24]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,3,89,67,156,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,0,17,8,25,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0

In [25]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [26]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [27]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [28]:
extDf = extDf[selected_columns]

In [29]:
print(pcaData.shape)
print(extDf.shape)

(8760, 8)
(8760, 14)

In [30]:
pcaData['Date'] = pd.to_datetime(pcaData['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [31]:
pcaData = pd.merge(pcaData,extDf, on=['Date', 'Hour'], how='inner')
print(pcaData.shape)

(8760, 20)

In [32]:
pcaData.columns

Index(['Date', 'Hour', '1', '2', '3', '4', '5', '6', 'Dow', 'arrival',
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [33]:
lagColumns = ['arrival'] + [str(i) for i in range(1,1+pca_comps)]

DateColumns = ['Date']

targetColumns = [str(i) for i in range(1,1+pca_comps)]

In [34]:
maxlag = 12

pcaData_lag = addLag(pcaData, maxlag, lagColumns)

pcaData_lag.shape

(8748, 104)

In [35]:
data.columns

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            254, 255, 256, 257, 258, 259, 260, 261, 262, 263],
           dtype='int64', name='PULocationID', length=260)

In [36]:
pcaData_lag

,Date,Hour,1,2,3,4,5,6,Dow,arrival,...,4_lag_11,5_lag_11,6_lag_11,arrival_lag_12,1_lag_12,2_lag_12,3_lag_12,4_lag_12,5_lag_12,6_lag_12
12,2018-01-01,12,1.650710,-0.404869,-0.579488,0.493360,0.277510,-0.030419,0,14,...,-1.635160,0.085620,0.176412,3.0,-8.965546,-0.604688,-1.896315,-1.639542,0.027523,0.026224
13,2018-01-01,13,2.076075,0.370927,-0.799958,0.464760,-0.366858,-0.414600,0,20,...,-1.211486,0.099789,0.434662,0.0,-8.890065,-0.575634,-2.015441,-1.635160,0.085620,0.176412
14,2018-01-01,14,1.704807,0.852408,0.356636,0.245481,-0.250254,-0.631867,0,25,...,-0.399924,-1.000220,-0.485294,1.0,-8.230438,-0.657217,-1.739288,-1.211486,0.099789,0.434662
15,2018-01-01,15,0.338529,-0.676490,-0.234283,1.137709,0.187054,-2.208582,0,20,...,-0.269372,-0.790071,-0.899478,0.0,-5.259304,-0.221505,0.031593,-0.399924,-1.000220,-0.485294
16,2018-01-01,16,1.255257,-0.277932,1.077368,2.257712,-0.492124,-2.185078,0,24,...,-0.250691,0.946521,-1.467383,0.0,-1.030953,1.215125,2.763678,-0.269372,-0.790071,-0.899478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31,19,-8.557268,-0.486623,-1.645139,-1.028652,-0.234477,-0.042881,0,11,...,1.239937,0.952898,-0.528493,11.0,1.428782,1.438428,2.117937,3.246382,-0.527948,-0.447114
8756,2018-12-31,20,-8.601322,-0.446131,-1.468165,-1.292580,1.018929,-0.254113,0,13,...,-0.722601,-1.786959,-0.994806,22.0,0.254618,1.935909,0.397204,1.239937,0.952898,-0.528493
8757,2018-12-31,21,-8.989377,-0.681347,-1.713865,-1.364529,0.049092,-0.335589,0,8,...,-0.014533,-1.351638,-0.397277,23.0,-1.201324,1.610952,-0.324339,-0.722601,-1.786959,-0.994806
8758,2018-12-31,22,-8.867157,-0.743104,-1.721465,-1.051431,-0.071780,0.125209,0,8,...,1.898106,-0.419143,0.442259,28.0,-2.472746,0.216511,-0.287142,-0.014533,-1.351638,-0.397277
8759,2018-12-31,23,-9.009548,-0.650448,-1.735217,-1.532266,-0.134245,-0.077630,0,9,...,-0.587625,-0.496654,1.185064,11.0,-1.031356,0.641446,0.306895,1.898106,-0.419143,0.442259

In [37]:
CommR2List = []
EdgeR2List = []
residualDf_list = []
rawList = []
networkPrediction = pd.DataFrame()

for m in range(1,13):
    print()

    print("month: ",m)
    month_index  = pd.to_datetime(pcaData_lag.Date).dt.month == m

    dataset_train = pcaData_lag[~month_index]
    dataset_test = pcaData_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]



    val_size = int(X_train.shape[0]*0.8)
    val_fold = list(-1*np.ones(X_train.shape[0]-val_size)) + list(np.zeros(val_size))
    ps = PredefinedSplit(val_fold)
    param_grid = [{
        "n_estimators": np.arange(10, 500, 50),
        "min_samples_split": np.arange(2, 50, 20),
        'min_samples_leaf': np.arange(2, 50, 20), 
        'max_features': ['sqrt'],
        'max_depth': np.arange(10, 50, 10),
    }]
    # fit_inverse_transform=True to make sure inverse transform available
    rf = RandomForestRegressor(random_state = 2019) 
    rf_grid_search = GridSearchCV(rf, param_grid, cv=ps, scoring='r2')
    rf_grid_search.fit(X_train, y_train)

    print("Train R2: ",rf_grid_search.best_estimator_.score(X_train,y_train))
    test_r2 = rf_grid_search.best_estimator_.score(X_test,y_test)
    print("Test R2: ",test_r2)


    pca_prediction = rf_grid_search.best_estimator_.predict(X_test)

    residual = y_test - pca_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    network_prediction = inverse_pca(pca_prediction,pca)

    network_prediction = inverse_standardize(network_prediction, scaler)
    
    # relu to convert all prediction to positive
#     network_prediction = np.log(1+np.e**network_prediction)
    # round up negative values to 0
#     network_prediction = np.where(network_prediction<0,0,network_prediction)

    network_prediction_df = pd.DataFrame(network_prediction)
    network_prediction_df.columns = data.columns
    networkPrediction = pd.concat([networkPrediction,network_prediction_df])
    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_r2 = r2_score(data[edgeMonthIndex], network_prediction, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)


    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)
#     rawList.append()

month:  1
Train Size:  (8016, 104)
Test Size:  (732, 104)
Train R2:  0.9790156521726766
Test R2:  0.9023204961970577
Edge R2:  0.7409423151184046

month:  2
Train Size:  (8076, 104)
Test Size:  (672, 104)
Train R2:  0.9786763328563503
Test R2:  0.9290549865656713
Edge R2:  0.7902829029922284

month:  3
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9783979401888905
Test R2:  0.9146528656718227
Edge R2:  0.7909403023136273

month:  4
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9782846205407537
Test R2:  0.9432134295574754
Edge R2:  0.8018173874696333

month:  5
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9778525508746283
Test R2:  0.9449576381042666
Edge R2:  0.8182768462290898

month:  6
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9781988355394726
Test R2:  0.9418988222651739
Edge R2:  0.8091443647413805

month:  7
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9784058266471292
Test R2:  0.9248966718929017
Edge R2:  0.7624078227286554

month:  8
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9785450631724505
Test R2:  0.9182607277534587
Edge R2:  0.7485917594170879

month:  9
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9787413217017716
Test R2:  0.9315573850303459
Edge R2:  0.7854982040638895

month:  10
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.977621097483694
Test R2:  0.9418500556831235
Edge R2:  0.8153958037276546

month:  11
Train Size:  (8028, 104)
Test Size:  (720, 104)
Train R2:  0.9786440392717455
Test R2:  0.910181425976757
Edge R2:  0.7714077186816853

month:  12
Train Size:  (8004, 104)
Test Size:  (744, 104)
Train R2:  0.9784989381451258
Test R2:  0.9025402663381236
Edge R2:  0.7523466941717459

In [39]:
networkPrediction['Date'] = data.reset_index().iloc[12:]['Date'].values
networkPrediction['Hour'] = data.reset_index().iloc[12:]['Hour'].values
networkPrediction.to_csv('/home/mingyi/Dropbox/UrbanTemporalNetworks/prediction/learnFrom2017/%stoPCA%s.csv'%(hub,pca_comps),index=False)

In [40]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.9254487309196815
0.7822543434712568

In [41]:
networkPrediction[zones][networkPrediction[zones]<0] = 0
networkPrediction.to_csv('/home/mingyi/Dropbox/UrbanTemporalNetworks/prediction/learnFrom2017/to%sPCA%sRound.csv'%(hub,pca_comps),index=False)

In [58]:
res_df = pd.concat(residualDf_list, axis = 0)
res_df.to_csv('../../Resid/'+hub+'PCARoundup'+str(pca_comps)+'RFCV.csv',index=False)