In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    data['DOLocationID'] = data['DOLocationID'].astype(str)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [8]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [9]:
def get_weights(rawdata, zontoBorough):
    
    rawdata['Borough'] = rawdata['DOLocationID'].apply(lambda x:zontoBorough[x])
    
    borough_df = rawdata[['vehicle_count','Borough']].groupby(by='Borough').sum().reset_index()

    zone_df = rawdata[['vehicle_count','DOLocationID']].groupby(by='DOLocationID').sum().reset_index()

    zone_df['Borough'] = zone_df['DOLocationID'].apply(lambda x:zontoBorough[x])

    zone_df = pd.merge(borough_df, zone_df, on=['Borough'], how='inner')

    zone_df['zone_weight'] = zone_df.vehicle_count_y / zone_df.vehicle_count_x

    zone_df = zone_df[['Borough', 'DOLocationID', 'zone_weight']]

    return zone_df

#### Load Raw Data

In [11]:
hub = 'EWR'
tune_hyp_params = True

In [12]:
dataDir = '/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/'
file = dataDir + hub + 'VehiceByHour.csv'

In [13]:
rawdata = loadData(file)

Raw shape:  (2260080, 4)
Days:  365

In [14]:
rawdata.head(2)

  DOLocationID       Date  Hour  vehicle_count
0            2 2018-01-01     0            0.0
1            3 2018-01-01     0            0.0

In [15]:
edge_data = getTimeSeries(rawdata)
edge_data = edge_data.reset_index()
edge_data.head(3)

DOLocationID,Date,Hour,10,100,101,102,106,107,108,109,...,90,91,92,93,94,95,96,97,98,99
0,2018-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Merge External Data Features

In [18]:
externalDataDir = "/Users/hemingyi/Documents/UrbanTemporalNetworks/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [19]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,ifsat,...,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow,arrival
0,18/1/1 0:00,263,174,437,1,0,0,0,0,0,...,7,12.5,-21.2,52,0,0.0,0.0,0,0,24.0
1,18/1/1 1:00,138,133,271,1,0,0,0,0,0,...,7,12.5,-21.2,52,0,0.0,0.0,0,0,9.0

In [20]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,ifsat,...,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow,arrival
0,2018-01-01 00:00:00,263,174,437,1,0,0,0,0,0,...,7,12.5,-21.2,52,0,0.0,0.0,0,0,24.0
1,2018-01-01 01:00:00,138,133,271,1,0,0,0,0,0,...,7,12.5,-21.2,52,0,0.0,0.0,0,0,9.0

In [21]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [22]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [23]:
extDf.columns

Index(['date', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue', 'ifwed', 'ifthu',
       'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3', 'if4', 'if5',
       'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12', 'if13', 'if14',
       'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21', 'if22', 'if23',
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow', 'arrival', 'Hour',
       'Dow', 'Date'],
      dtype='object')

In [24]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [25]:
extDf = extDf[selected_columns]

In [26]:
print(edge_data.shape)
print(extDf.shape)

(8760, 260)
(8760, 14)

In [27]:
edge_data['Date'] = pd.to_datetime(edge_data['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [28]:
edge_data = pd.merge(edge_data,extDf, on=['Date', 'Hour'], how='inner')
print(edge_data.shape)
edge_data['Date'] = edge_data['Date'].dt.date
edge_data.head()

(8760, 272)

,Date,Hour,10,100,101,102,106,107,108,109,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,0,0,0,0,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,2018-01-01,1,0,0,0,0,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
2,2018-01-01,2,0,0,0,0,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
3,2018-01-01,3,0,0,0,0,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
4,2018-01-01,4,0,0,0,0,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [29]:
edge_data.columns

Index(['Date', 'Hour', '10', '100', '101', '102', '106', '107', '108', '109',
       ...
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object', length=272)

In [30]:
DateColumns = ['Date']

ext_columns = ['Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

targetColumns = [c for c in edge_data.columns if c not in ext_columns and \
                c not in DateColumns and c != 'Hour']

lagColumns = targetColumns + ['arrival']

In [31]:
maxlag = 12

edge_data_lag = addLag(edge_data, maxlag, lagColumns)

edge_data_lag.shape

(8748, 3380)

In [49]:
CommR2List = []
EdgeR2List = []
residualDf_list = []

for m in range(1,13):
    print()
    print("month: ",m)
    month_index  = pd.to_datetime(edge_data_lag.Date).dt.month == m

    dataset_train = edge_data_lag[~month_index]
    dataset_test = edge_data_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)

    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]

    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    prediction = rf2.predict(X_test)


    residual = y_test - prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)
    edge_r2 = r2_score(y_test, prediction, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)

    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)

month:  1
Train Size:  (8016, 3380)
Test Size:  (732, 3380)
Train R2:  0.6000200244803663
Test R2:  0.013295092265019277
Edge R2:  0.013295092265019277

month:  2
Train Size:  (8076, 3380)
Test Size:  (672, 3380)
Train R2:  0.6011224569477656
Test R2:  0.01027793170003448
Edge R2:  0.01027793170003448

month:  3
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.6021350996524343
Test R2:  0.011544836976088158
Edge R2:  0.011544836976088158

month:  4
Train Size:  (8028, 3380)
Test Size:  (720, 3380)
Train R2:  0.5998475509689539
Test R2:  0.017141094343128216
Edge R2:  0.017141094343128216

month:  5
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.6003577754430864
Test R2:  0.017859716086422853
Edge R2:  0.017859716086422853

month:  6
Train Size:  (8028, 3380)
Test Size:  (720, 3380)
Train R2:  0.6023827690537995
Test R2:  0.011563613965211382
Edge R2:  0.011563613965211382

month:  7
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.6025429483097551
Test R2:  0.010704438504313324
Edge R2:  0.010704438504313324

month:  8
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.6021263976575209
Test R2:  0.010045360477032797
Edge R2:  0.010045360477032797

month:  9
Train Size:  (8028, 3380)
Test Size:  (720, 3380)
Train R2:  0.601302472087295
Test R2:  0.013798117989297616
Edge R2:  0.013798117989297616

month:  10
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.6013360529277352
Test R2:  0.013773563395828206
Edge R2:  0.013773563395828206

month:  11
Train Size:  (8028, 3380)
Test Size:  (720, 3380)
Train R2:  0.6006010305310094
Test R2:  0.017816566074974536
Edge R2:  0.017816566074974536

month:  12
Train Size:  (8004, 3380)
Test Size:  (744, 3380)
Train R2:  0.5995033289135463
Test R2:  0.011983949840829795
Edge R2:  0.011983949840829795

In [50]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.01331702346818172
0.01331702346818172

In [51]:
res_df = pd.concat(residualDf_list, axis = 0)
print(res_df.shape)
res_df.head()

(8748, 260)

,Date,Hour,10,100,101,102,106,107,108,109,...,90,91,92,93,94,95,96,97,98,99
12,2018-01-01,12,0.000000,-0.040241,0.0,0.0,-0.006219,-0.081037,0.0,0.000000,...,-0.031309,0.000000,-0.000833,0.0,0.000000,0.000000,0.0,-0.016487,0.000000,0.0
13,2018-01-01,13,0.000000,-0.046587,0.0,0.0,-0.003256,-0.098067,0.0,-0.000167,...,-0.076567,-0.001667,-0.004203,0.0,0.000000,0.000000,0.0,-0.010152,-0.001852,0.0
14,2018-01-01,14,0.000000,0.957984,0.0,0.0,-0.006458,0.923161,0.0,-0.000171,...,0.931465,0.000000,-0.010573,0.0,0.000000,0.000000,0.0,-0.019282,0.000000,0.0
15,2018-01-01,15,-0.002167,-0.054173,0.0,0.0,0.000000,-0.105475,0.0,-0.002563,...,-0.097126,-0.003333,-0.004222,0.0,0.000000,-0.004444,0.0,-0.013734,-0.002063,0.0
16,2018-01-01,16,-0.001852,-0.076211,0.0,0.0,-0.007817,-0.145640,0.0,0.000000,...,-0.104341,0.000000,-0.001333,0.0,-0.000952,-0.003889,0.0,0.966442,-0.002222,0.0

In [44]:
dateCols = ['Date', 'Hour']
otherCols = [c for c in res_df.columns if c not in dateCols]

res_df['residual'] = np.sum(res_df[otherCols].values, axis=1)

res_df = res_df[dateCols+['residual']]
print(res_df.shape)

(8748, 3)

In [52]:
res_df.to_csv('/Users/hemingyi/Documents/UrbanTemporalNetworks/Resid/%sedgeRFCV.csv'%hub.upper())

In [53]:
res_df

,Date,Hour,10,100,101,102,106,107,108,109,...,90,91,92,93,94,95,96,97,98,99
12,2018-01-01,12,0.000000,-0.040241,0.000000,0.000000,-0.006219,-0.081037,0.000000,0.000000,...,-0.031309,0.000000,-0.000833,0.000000,0.000000,0.000000,0.0,-0.016487,0.000000,0.0
13,2018-01-01,13,0.000000,-0.046587,0.000000,0.000000,-0.003256,-0.098067,0.000000,-0.000167,...,-0.076567,-0.001667,-0.004203,0.000000,0.000000,0.000000,0.0,-0.010152,-0.001852,0.0
14,2018-01-01,14,0.000000,0.957984,0.000000,0.000000,-0.006458,0.923161,0.000000,-0.000171,...,0.931465,0.000000,-0.010573,0.000000,0.000000,0.000000,0.0,-0.019282,0.000000,0.0
15,2018-01-01,15,-0.002167,-0.054173,0.000000,0.000000,0.000000,-0.105475,0.000000,-0.002563,...,-0.097126,-0.003333,-0.004222,0.000000,0.000000,-0.004444,0.0,-0.013734,-0.002063,0.0
16,2018-01-01,16,-0.001852,-0.076211,0.000000,0.000000,-0.007817,-0.145640,0.000000,0.000000,...,-0.104341,0.000000,-0.001333,0.000000,-0.000952,-0.003889,0.0,0.966442,-0.002222,0.0
17,2018-01-01,17,0.000000,-0.066463,0.000000,0.000000,-0.013278,0.918106,0.000000,-0.003333,...,0.918820,-0.000606,-0.008000,0.000000,0.000000,-0.004439,0.0,-0.014563,0.000000,0.0
18,2018-01-01,18,0.000000,-0.042250,0.000000,0.000000,-0.014746,0.885441,0.000000,-0.002222,...,0.871418,-0.003556,-0.003889,0.000000,0.000000,-0.002500,0.0,-0.033209,-0.000392,0.0
19,2018-01-01,19,-0.000556,-0.024581,0.000000,0.000000,-0.012619,0.834638,0.000000,0.000000,...,0.932479,-0.002222,-0.002698,0.000000,0.000000,-0.003333,0.0,-0.033939,0.000000,0.0
20,2018-01-01,20,-0.007619,-0.035122,0.000000,0.000000,-0.007778,-0.115186,0.000000,-0.001667,...,-0.065474,-0.002222,-0.010667,0.000000,0.000000,-0.004667,0.0,-0.019759,-0.001667,0.0
21,2018-01-01,21,-0.015278,-0.029540,0.000000,0.000000,-0.007778,0.856042,0.000000,0.000000,...,-0.115601,-0.004074,-0.007500,0.000000,0.000000,-0.009444,0.0,-0.037878,0.000000,0.0
22,2018-01-01,22,-0.004667,-0.018196,0.000000,0.000000,-0.003175,-0.138127,0.000000,-0.000606,...,-0.127339,-0.007778,-0.004167,0.000000,0.000000,0.000000,0.0,0.976667,-0.003333,0.0
23,2018-01-01,23,-0.003333,-0.030905,0.000000,0.000000,-0.003778,-0.145979,0.000000,-0.003556,...,-0.107680,0.000000,-0.011056,0.000000,0.000000,0.000000,0.0,-0.035026,0.000000,0.0
24,2018-01-02,0,-0.003730,-0.035683,0.000000,0.000000,-0.003662,-0.096662,0.000000,0.000000,...,-0.098836,0.000000,-0.008333,0.000000,0.000000,-0.006667,0.0,-0.019889,0.000000,0.0
25,2018-01-02,1,-0.002222,-0.025175,0.000000,0.000000,-0.004667,0.912121,0.000000,0.000000,...,-0.062589,-0.003333,-0.009402,0.000000,0.000000,-0.000833,0.0,-0.021797,-0.001222,0.0
26,2018-01-02,2,-0.003333,-0.026837,0.000000,0.000000,-0.003333,-0.110951,0.000000,0.000000,...,-0.051230,0.000000,-0.017778,0.000000,0.000000,-0.002222,0.0,-0.010889,-0.001333,0.0
27,2018-01-02,3,-0.010735,-0.017167,0.000000,0.000000,-0.008000,-0.068000,0.000000,0.000000,...,-0.020513,0.000000,-0.004167,0.000000,0.000000,-0.002222,0.0,-0.023611,0.000000,0.0
28,2018-01-02,4,0.000000,-0.024286,0.000000,0.000000,0.000000,-0.053167,0.000000,0.000000,...,-0.017630,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-0.005556,0.000000,0.0
29,2018-01-02,5,-0.004286,-0.020565,-0.001667,0.000000,-0.006503,-0.064802,0.000000,-0.002678,...,-0.034574,-0.005556,-0.003333,0.000000,0.000000,0.000000,0.0,-0.007222,-0.006667,0.0
30,2018-01-02,6,0.000000,-0.020278,0.000000,0.000000,-0.007619,-0.061627,0.000000,0.000000,...,-0.033778,0.000000,-0.004074,0.000000,0.000000,0.000000,0.0,-0.008495,-0.001667,0.0
31,2018-01-02,7,0.000000,-0.038771,0.000000,0.000000,-0.003333,-0.074329,0.000000,-0.002540,...,-0.062019,0.000000,-0.003333,0.000000,0.000000,-0.002702,0.0,-0.004957,0.000000,0.0
32,2018-01-02,8,-0.002222,0.947206,0.000000,0.000000,-0.006003,-0.045218,0.000000,0.000000,...,-0.036000,0.000000,0.000000,0.000000,0.000000,-0.001333,0.0,-0.006886,-0.000952,0.0
33,2018-01-02,9,0.000000,-0.036662,0.000000,0.000000,-0.006162,-0.086203,0.000000,0.000000,...,-0.034617,0.000000,-0.004444,0.000000,0.000000,-0.000175,0.0,-0.006353,0.000000,0.0
34,2018-01-02,10,-0.001667,-0.051660,0.000000,0.000000,-0.015778,-0.074208,0.000000,0.000000,...,-0.071148,0.000000,-0.001778,0.000000,0.000000,-0.002222,0.0,-0.011669,-0.004000,0.0
35,2018-01-02,11,0.000000,-0.030870,0.000000,0.000000,-0.006786,-0.058963,0.000000,-0.002222,...,-0.046311,0.000000,-0.000370,0.000000,0.000000,0.000000,0.0,-0.009836,0.000000,0.0
36,2018-01-02,12,-0.002698,-0.051177,0.000000,0.000000,-0.005556,0.909834,0.000000,0.000000,...,0.929286,-0.000556,0.000000,0.000000,0.000000,0.000000,0.0,-0.011931,0.000000,0.0
37,2018-01-02,13,0.000000,-0.052525,0.000000,0.000000,-0.010807,-0.086811,0.000000,0.000000,...,-0.071949,0.000000,-0.009665,0.000000,0.000000,-0.000392,0.0,-0.010248,0.000000,0.0
38,2018-01-02,14,0.000000,-0.057669,0.000000,0.000000,-0.007286,-0.107792,0.000000,-0.000667,...,0.902706,-0.002222,-0.005018,0.000000,0.000000,-0.003333,0.0,-0.023164,0.000000,0.0
39,2018-01-02,15,0.000000,-0.057313,0.000000,-0.000513,-0.007730,-0.101632,0.000000,0.000000,...,0.898655,-0.001667,-0.004286,0.000000,0.000000,-0.003337,0.0,-0.021674,0.000000,0.0
40,2018-01-02,16,0.000000,-0.056933,0.000000,0.000000,-0.007778,-0.090810,0.000000,-0.001693,...,-0.085820,0.000000,-0.001111,0.000000,0.000000,-0.005556,0.0,-0.026877,-0.003333,0.0
41,2018-01-02,17,-0.007750,-0.052023,0.000000,0.000000,-0.004240,-0.088576,0.000000,-0.001667,...,-0.108877,0.000000,-0.011333,0.000000,0.000000,-0.007273,0.0,-0.032603,-0.002222,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,2018-12-30,18,-0.004286,-0.064792,0.000000,0.000000,-0.011877,0.900001,0.000000,-0.001333,...,-0.104032,0.000000,-0.003333,0.000000,0.000000,-0.005556,0.0,-0.045413,0.000000,0.0
8731,2018-12-30,19,-0.000859,-0.035220,0.000000,0.000000,-0.008225,0.910205,0.000000,-0.005556,...,-0.112903,0.000000,-0.004444,0.000000,0.000000,-0.002222,0.0,-0.013748,0.000000,0.0
8732,2018-12-30,20,0.000000,-0.037711,0.000000,0.000000,-0.012222,0.834630,0.000000,0.000000,...,-0.096218,0.000000,-0.004444,0.000000,0.000000,-0.001333,0.0,-0.026833,0.000000,0.0
8733,2018-12-30,21,0.000000,-0.023576,0.000000,0.000000,-0.014812,0.869636,0.000000,-0.006905,...,-0.087451,0.000000,-0.009125,0.000000,0.000000,-0.000952,0.0,-0.019053,0.000000,0.0
8734,2018-12-30,22,0.000000,-0.036675,0.000000,0.000000,-0.002556,0.818306,0.000000,-0.002730,...,-0.090364,0.000000,-0.004556,0.000000,0.000000,-0.003175,0.0,-0.021147,0.000000,0.0
8735,2018-12-30,23,-0.003636,-0.051497,0.000000,0.000000,-0.010000,-0.170024,0.000000,-0.005884,...,-0.134859,0.000000,-0.001667,0.000000,0.000000,-0.006667,0.0,-0.035137,0.000000,0.0
8736,2018-12-31,0,0.000000,-0.031566,0.000000,0.000000,-0.010000,-0.086365,0.000000,-0.000741,...,-0.078672,-0.003333,-0.004074,0.000000,0.000000,-0.003333,0.0,-0.031296,0.000000,0.0
8737,2018-12-31,1,-0.003000,-0.017222,-0.000476,0.000000,-0.001667,-0.075667,0.000000,0.000000,...,-0.039286,0.000000,-0.004667,0.000000,0.000000,-0.003333,0.0,-0.005556,0.000000,0.0
8738,2018-12-31,2,-0.006667,-0.012452,0.000000,0.000000,0.000000,-0.035384,0.000000,0.000000,...,-0.039661,-0.003333,-0.003333,0.000000,0.000000,-0.000476,0.0,-0.007778,0.000000,0.0
8739,2018-12-31,3,0.000000,-0.022197,0.000000,0.000000,0.000000,-0.047301,0.000000,0.000000,...,-0.027460,0.000000,0.000000,0.000000,0.000000,-0.001667,0.0,-0.002222,0.000000,0.0
8740,2018-12-31,4,-0.003333,-0.038343,0.000000,0.000000,0.000000,-0.021550,0.000000,0.000000,...,-0.024254,0.000000,-0.001970,0.000000,0.000000,0.000000,0.0,-0.006519,-0.001111,0.0
8741,2018-12-31,5,0.000000,-0.035688,0.000000,0.000000,-0.004444,-0.040959,0.000000,-0.001111,...,-0.013556,0.000000,-0.001037,0.000000,0.000000,-0.002222,0.0,-0.012500,0.000000,0.0
8742,2018-12-31,6,0.000000,-0.019455,0.000000,0.000000,-0.004365,-0.036203,0.000000,-0.000513,...,-0.032611,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-0.008670,0.000000,0.0
8743,2018-12-31,7,-0.001333,-0.054845,0.000000,0.000000,-0.004000,-0.064525,0.000000,0.000000,...,-0.038952,-0.001111,-0.003651,0.000000,0.000000,0.000000,0.0,-0.008963,0.000000,0.0
8744,2018-12-31,8,0.000000,-0.034126,0.000000,0.000000,-0.000833,-0.048768,0.000000,-0.000476,...,-0.038718,0.000000,-0.002497,0.000000,0.000000,0.000000,0.0,-0.009000,0.000000,0.0
8745,2018-12-31,9,0.000000,0.955812,0.000000,0.000000,-0.003623,-0.054300,0.000000,-0.008333,...,-0.074069,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-0.026476,0.000000,0.0
8746,2018-12-31,10,0.000000,-0.058500,0.000000,0.000000,-0.012495,-0.044942,0.000000,-0.000185,...,-0.042560,-0.002778,0.000000,0.000000,0.000000,0.000000,0.0,-0.013251,0.000000,0.0
8747,2018-12-31,11,-0.001333,-0.073790,0.000000,0.000000,-0.008360,-0.078542,0.000000,0.000000,...,-0.040744,0.000000,-0.005000,0.000000,0.000000,0.000000,0.0,-0.014389,0.000000,0.0
8748,2018-12-31,12,-0.003333,-0.038330,0.000000,0.000000,-0.002593,-0.080795,0.000000,0.000000,...,-0.046768,-0.003475,-0.004667,0.000000,0.000000,-0.003333,0.0,-0.031241,0.000000,0.0
8749,2018-12-31,13,-0.003333,-0.071030,0.000000,0.000000,-0.004068,-0.097736,0.000000,-0.002889,...,-0.064761,0.000000,-0.003790,0.000000,0.000000,0.000000,0.0,-0.019729,-0.001333,0.0
8750,2018-12-31,14,-0.001667,-0.071422,0.000000,0.000000,-0.003507,-0.093559,0.000000,0.000000,...,0.911881,0.000000,-0.005859,0.000000,0.000000,-0.001111,0.0,-0.015460,0.000000,0.0
8751,2018-12-31,15,0.000000,-0.060688,0.000000,0.000000,-0.007444,-0.121335,0.000000,0.000000,...,-0.080239,-0.001667,-0.000317,0.000000,0.000000,0.000000,0.0,-0.020743,0.000000,0.0
8752,2018-12-31,16,-0.006222,-0.092119,0.000000,0.000000,-0.001429,-0.143396,-0.003889,-0.000952,...,-0.076589,0.000000,-0.000557,0.000000,0.000000,-0.000952,0.0,-0.021134,-0.002111,0.0
8753,2018-12-31,17,-0.006389,-0.040017,0.000000,0.000000,-0.006250,-0.107931,0.000000,-0.001786,...,-0.131540,0.000000,-0.001508,0.000000,0.000000,0.000000,0.0,0.971632,0.000000,0.0
8754,2018-12-31,18,-0.002167,-0.045827,0.000000,0.000000,-0.012131,-0.119843,0.000000,-0.008519,...,-0.072472,0.000000,-0.002906,0.000000,0.000000,0.000000,0.0,-0.024239,0.000000,0.0
8755,2018-12-31,19,-0.002222,-0.042727,0.000000,0.000000,-0.006717,-0.120837,0.000000,-0.002222,...,-0.058858,0.000000,-0.002222,0.000000,0.000000,-0.003333,0.0,-0.023843,-0.002222,0.0
8756,2018-12-31,20,-0.002479,-0.028877,0.000000,0.000000,-0.007479,-0.107951,0.000000,-0.003889,...,-0.058860,0.000000,-0.006111,0.000000,0.000000,-0.004680,0.0,-0.017793,0.000000,0.0
8757,2018-12-31,21,0.000000,-0.021153,0.000000,0.000000,0.000000,0.894874,0.000000,0.000000,...,-0.048504,-0.002222,-0.000444,-0.001667,0.000000,-0.002222,0.0,-0.015011,0.000000,0.0
8758,2018-12-31,22,-0.002222,-0.023925,0.000000,0.000000,-0.002698,0.902468,0.000000,-0.005741,...,-0.065577,0.000000,-0.000667,0.000000,0.000000,0.000000,0.0,0.992076,0.000000,0.0
8759,2018-12-31,23,-0.008889,-0.029399,0.000000,0.000000,-0.001667,-0.079879,0.000000,-0.003063,...,-0.065714,0.000000,-0.002778,0.000000,0.000000,-0.001009,0.0,-0.015503,-0.005000,0.0