In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    data['DOLocationID'] = data['DOLocationID'].astype(str)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [8]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [9]:
def get_weights(rawdata, zontoBorough):
    
    rawdata['Borough'] = rawdata['DOLocationID'].apply(lambda x:zontoBorough[x])
    
    borough_df = rawdata[['vehicle_count','Borough']].groupby(by='Borough').sum().reset_index()

    zone_df = rawdata[['vehicle_count','DOLocationID']].groupby(by='DOLocationID').sum().reset_index()

    zone_df['Borough'] = zone_df['DOLocationID'].apply(lambda x:zontoBorough[x])

    zone_df = pd.merge(borough_df, zone_df, on=['Borough'], how='inner')

    zone_df['zone_weight'] = zone_df.vehicle_count_y / zone_df.vehicle_count_x

    zone_df = zone_df[['Borough', 'DOLocationID', 'zone_weight']]

    return zone_df

#### Load Raw Data

In [10]:
hub = 'Penn'
tune_hyp_params = True

In [13]:
dataDir = '/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/'
file = dataDir + hub + 'VehiceByHour2015.csv'

In [16]:
rawdata = loadData(file)

Raw shape:  (2277600, 4)
Days:  365

In [17]:
rawdata.head(2)

  DOLocationID       Date  Hour  vehicle_count
0          1.0 2015-01-01     0            0.0
1          2.0 2015-01-01     0            0.0

In [18]:
edge_data = getTimeSeries(rawdata)
edge_data = edge_data.reset_index()
edge_data.head(3)

DOLocationID,Date,Hour,1.0,10.0,100.0,101.0,102.0,103.0,106.0,107.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
0,2015-01-01,0,0,0,16,0,0,0,0,12,...,6,0,0,0,0,0,0,2,0,0
1,2015-01-01,1,0,0,12,0,0,0,0,18,...,28,0,0,0,0,0,0,4,0,0
2,2015-01-01,2,4,0,0,0,0,0,0,16,...,6,0,0,0,0,8,0,0,0,0

### Merge External Data Features

In [21]:
externalDataDir = "/Users/hemingyi/Documents/UrbanTemporalNetworks/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [22]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,18/1/1 1:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [23]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(100)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
1,2018-01-01 01:00:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
2,2018-01-01 02:00:00,1,370,385,755,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
3,2018-01-01 03:00:00,0,264,300,564,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
4,2018-01-01 04:00:00,0,157,196,353,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
5,2018-01-01 05:00:00,0,91,107,198,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
6,2018-01-01 06:00:00,1,78,129,207,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
7,2018-01-01 07:00:00,0,62,122,184,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
8,2018-01-01 08:00:00,2,64,126,190,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
9,2018-01-01 09:00:00,2,84,134,218,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
10,2018-01-01 10:00:00,3,93,221,314,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
11,2018-01-01 11:00:00,5,145,402,547,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
12,2018-01-01 12:00:00,2,167,380,547,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
13,2018-01-01 13:00:00,4,202,532,734,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
14,2018-01-01 14:00:00,4,171,489,660,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
15,2018-01-01 15:00:00,4,172,587,759,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
16,2018-01-01 16:00:00,6,276,555,831,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
17,2018-01-01 17:00:00,6,278,645,923,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
18,2018-01-01 18:00:00,5,270,662,932,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
19,2018-01-01 19:00:00,3,249,528,777,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
20,2018-01-01 20:00:00,3,191,458,649,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
21,2018-01-01 21:00:00,6,225,638,863,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
22,2018-01-01 22:00:00,6,194,630,824,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
23,2018-01-01 23:00:00,1,180,340,520,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.00,0.0,0,0
24,2018-01-02 00:00:00,1,80,154,234,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
25,2018-01-02 01:00:00,1,61,68,129,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
26,2018-01-02 02:00:00,2,49,85,134,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
27,2018-01-02 03:00:00,1,36,53,89,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
28,2018-01-02 04:00:00,0,16,68,84,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
29,2018-01-02 05:00:00,0,32,219,251,0,1,0,0,0,...,26,13,19.5,-13.8,45,0,0.00,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2018-01-03 22:00:00,2,237,764,1001,0,0,1,0,0,...,30,16,23.0,-10.1,42,0,0.00,0.0,0,0
71,2018-01-03 23:00:00,1,256,407,663,0,0,1,0,0,...,30,16,23.0,-10.1,42,0,0.00,0.0,0,0
72,2018-01-04 00:00:00,0,110,129,239,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
73,2018-01-04 01:00:00,3,57,127,184,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
74,2018-01-04 02:00:00,0,58,121,179,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
75,2018-01-04 03:00:00,0,28,39,67,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
76,2018-01-04 04:00:00,0,21,54,75,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
77,2018-01-04 05:00:00,0,19,149,168,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
78,2018-01-04 06:00:00,1,47,406,453,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
79,2018-01-04 07:00:00,2,65,377,442,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
80,2018-01-04 08:00:00,2,87,284,371,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
81,2018-01-04 09:00:00,6,99,311,410,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
82,2018-01-04 10:00:00,3,89,213,302,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
83,2018-01-04 11:00:00,4,88,190,278,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
84,2018-01-04 12:00:00,2,82,217,299,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
85,2018-01-04 13:00:00,3,70,234,304,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
86,2018-01-04 14:00:00,2,56,190,246,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
87,2018-01-04 15:00:00,2,73,197,270,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
88,2018-01-04 16:00:00,2,74,186,260,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
89,2018-01-04 17:00:00,1,108,183,291,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
90,2018-01-04 18:00:00,2,84,205,289,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
91,2018-01-04 19:00:00,3,93,270,363,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
92,2018-01-04 20:00:00,2,75,167,242,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
93,2018-01-04 21:00:00,4,53,201,254,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
94,2018-01-04 22:00:00,4,73,195,268,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
95,2018-01-04 23:00:00,2,42,137,179,0,0,0,1,0,...,29,19,24.0,-9.0,41,0,0.76,9.8,1,1
96,2018-01-05 00:00:00,0,43,107,150,0,0,0,0,1,...,19,9,14.0,-18.9,51,0,0.00,0.0,7,0
97,2018-01-05 01:00:00,0,28,68,96,0,0,0,0,1,...,19,9,14.0,-18.9,51,0,0.00,0.0,7,0
98,2018-01-05 02:00:00,0,16,29,45,0,0,0,0,1,...,19,9,14.0,-18.9,51,0,0.00,0.0,7,0
99,2018-01-05 03:00:00,0,7,19,26,0,0,0,0,1,...,19,9,14.0,-18.9,51,0,0.00,0.0,7,0

In [18]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [19]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [20]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [21]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [22]:
extDf = extDf[selected_columns]

In [23]:
print(edge_data.shape)
print(extDf.shape)

(8760, 259)
(8760, 14)

In [24]:
edge_data['Date'] = pd.to_datetime(edge_data['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [25]:
edge_data = pd.merge(edge_data,extDf, on=['Date', 'Hour'], how='inner')
print(edge_data.shape)
edge_data['Date'] = edge_data['Date'].dt.date
edge_data.head()

(8760, 271)

,Date,Hour,1,10,100,101,102,106,107,108,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,0,0,8,0,0,2,14,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,2018-01-01,1,0,0,8,0,0,0,70,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
2,2018-01-01,2,1,0,10,0,0,2,57,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
3,2018-01-01,3,5,0,3,0,0,0,26,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
4,2018-01-01,4,3,0,7,0,0,0,8,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [26]:
edge_data.columns

Index(['Date', 'Hour', '1', '10', '100', '101', '102', '106', '107', '108',
       ...
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object', length=271)

In [27]:
DateColumns = ['Date']

ext_columns = ['Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

targetColumns = [c for c in edge_data.columns if c not in ext_columns and \
                c not in DateColumns and c != 'Hour']

lagColumns = targetColumns + ['arrival']

In [28]:
maxlag = 12

edge_data_lag = addLag(edge_data, maxlag, lagColumns)

edge_data_lag.shape

(8748, 3367)

In [29]:
CommR2List = []
EdgeR2List = []
residualDf_list = []

for m in range(1,13):
    print()
    print("month: ",m)
    month_index  = pd.to_datetime(edge_data_lag.Date).dt.month == m

    dataset_train = edge_data_lag[~month_index]
    dataset_test = edge_data_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)

    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]

    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    prediction = rf2.predict(X_test)


    residual = y_test - prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)


    edge_r2 = r2_score(y_test, prediction, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)

    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)

month:  1
Train Size:  (8016, 3367)
Test Size:  (732, 3367)
Train R2:  0.9569625762958458
Test R2:  0.7072323079926246
Edge R2:  0.7072323079926246

month:  2
Train Size:  (8076, 3367)
Test Size:  (672, 3367)
Train R2:  0.9565351076382644
Test R2:  0.7352199613830063
Edge R2:  0.7352199613830063

month:  3
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9570275239054513
Test R2:  0.7129631865264942
Edge R2:  0.7129631865264942

month:  4
Train Size:  (8028, 3367)
Test Size:  (720, 3367)
Train R2:  0.9564944184077502
Test R2:  0.770081556280708
Edge R2:  0.770081556280708

month:  5
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9568656459809336
Test R2:  0.7731036994298971
Edge R2:  0.7731036994298971

month:  6
Train Size:  (8028, 3367)
Test Size:  (720, 3367)
Train R2:  0.9568927344264454
Test R2:  0.7507262851925645
Edge R2:  0.7507262851925645

month:  7
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9568714149575245
Test R2:  0.7455730773866172
Edge R2:  0.7455730773866172

month:  8
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9568292953522749
Test R2:  0.7590191349563301
Edge R2:  0.7590191349563301

month:  9
Train Size:  (8028, 3367)
Test Size:  (720, 3367)
Train R2:  0.9572041695940063
Test R2:  0.7384946664591673
Edge R2:  0.7384946664591673

month:  10
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9572561744919993
Test R2:  0.743866295711761
Edge R2:  0.743866295711761

month:  11
Train Size:  (8028, 3367)
Test Size:  (720, 3367)
Train R2:  0.9572289846856618
Test R2:  0.7386436272943636
Edge R2:  0.7386436272943636

month:  12
Train Size:  (8004, 3367)
Test Size:  (744, 3367)
Train R2:  0.9575600895548516
Test R2:  0.6785472785455807
Edge R2:  0.6785472785455807

In [30]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.7377892564299263
0.7377892564299263

In [31]:
res_df = pd.concat(residualDf_list, axis = 0)
print(res_df.shape)
res_df.head()

(8748, 259)

,Date,Hour,1,10,100,101,102,106,107,108,...,90,91,92,93,94,95,96,97,98,99
12,2018-01-01,12,5.951111,-0.104444,2.326667,-0.015556,-0.051111,0.810000,-4.761111,-0.028889,...,-2.244444,-0.110000,0.662222,2.718889,-0.052222,-0.186667,-0.012222,-0.605556,-0.026667,0.000000
13,2018-01-01,13,2.092222,-0.097778,1.827778,-0.040000,0.940000,-0.241111,5.887778,-0.030000,...,0.257778,-0.120000,0.520000,-0.282222,-0.075556,0.716667,-0.023333,1.191111,-0.036667,0.000000
14,2018-01-01,14,3.902222,-0.140000,-9.011111,-0.017778,-0.044444,-0.315556,5.332222,-0.021111,...,-1.734444,-0.117778,-0.416667,0.696667,-0.060000,-0.321111,-0.018889,-0.953333,-0.040000,0.000000
15,2018-01-01,15,3.545556,-0.171111,2.031111,-0.036667,-0.081111,1.661111,10.402222,-0.023333,...,-4.933333,-0.107778,-0.526667,-0.217778,-0.056667,0.631111,-0.002222,2.020000,-0.036667,-0.002222
16,2018-01-01,16,4.665556,-0.210000,5.880000,-0.020000,-0.102222,0.627778,6.074444,-0.048889,...,-2.193333,0.858889,-0.507778,-0.172222,-0.064444,0.601111,-0.007778,2.928889,-0.047778,-0.002222

In [32]:
dateCols = ['Date', 'Hour']
otherCols = [c for c in res_df.columns if c not in dateCols]

res_df['residual'] = np.sum(res_df[otherCols].values, axis=1)

res_df = res_df[dateCols+['residual']]
print(res_df.shape)

(8748, 3)

In [33]:
res_df.to_csv('/home/urwa/Documents/Projects/NYU Remote/project/data/residuals/penn_edge.csv')