In [1]:
import pandas as pd

### Load Hub Data

In [45]:
hub = 'Jfk'

In [46]:
dataDir = "../processedData/"
hubFile = dataDir+hub+"VehiceByHour.csv"

In [47]:
hubDf = pd.read_csv(hubFile)
print(hubDf.shape)
hubDf.head(5)

(2260080, 4)

   DOLocationID        Date  Hour  vehicle_count
0             1  2018-01-01     0            1.0
1             2  2018-01-01     0            0.0
2             3  2018-01-01     0            0.0
3             4  2018-01-01     0            1.0
4             5  2018-01-01     0            0.0

In [48]:
min(hubDf.Date), max(hubDf.Date)

('2018-01-01', '2018-12-31')

### Load and process external data

In [49]:
externalDataDir = "../HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [50]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,6,263,174,437,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,18/1/1 1:00,6,138,133,271,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [51]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,6,263,174,437,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,6,138,133,271,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [52]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [53]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [54]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [55]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [56]:
extDf = extDf[selected_columns]

### Merge datasets

In [57]:
print(hubDf.shape)
print(extDf.shape)

(2260080, 4)
(8760, 14)

In [58]:
hubDf['Date'] = pd.to_datetime(hubDf['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [59]:
mergedDf = pd.merge(hubDf,extDf, on=['Date', 'Hour'], how='inner')
print(mergedDf.shape)
mergedDf['Date'] = mergedDf['Date'].dt.date
mergedDf.head()

(2260080, 16)

,DOLocationID,Date,Hour,vehicle_count,Dow,arrival,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,1,2018-01-01,0,1.0,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,2,2018-01-01,0,0.0,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
2,3,2018-01-01,0,0.0,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
3,4,2018-01-01,0,1.0,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
4,5,2018-01-01,0,0.0,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [60]:
outDir = "../mergedData/"
outFile = outDir + hub + ".csv"

In [61]:
mergedDf.to_csv(outFile,index=False)