### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [38]:
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [39]:
# raw data directory
dataDir = '/Users/hemingyi/Documents/UrbanTemporalNetworks/rawData/'

In [40]:
files = glob.glob(dataDir+'*csv')
len(files)

24

### Run following script for each hub

In [41]:
# hub = 'Penn'
hub = 'JFK'

In [42]:
# lat1,lon1,lat2,lon2 = 40.751497, -73.993968, 40.749707, -73.991550

In [43]:
processedFileDir = "/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/"
processedFile = processedFileDir+hub+"VehiceByHour2015.csv"

In [44]:
import geopandas as gpd
zones = gpd.read_file('../Data/NYC Taxi Zones/geo_export_420696f7-2c26-4eab-be38-199c5fb5c185.shp')
zones.loc[zones['objectid']==132.0]

,borough,location_i,objectid,shape_area,shape_leng,zone,geometry
136,Queens,132.0,132.0,0.002038,0.245479,JFK Airport,(POLYGON ((-73.8250346749999 40.66358013399984...

In [55]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file)
    print("DataFrame Shape: "+str(df.shape))
#     print(df.columns)
    # rename columns for consistency
    # set passenger count to 1 for fhv
        
    if vehicleType == 'green':
        # fixing column problem
        names = df.columns.tolist()
        df = pd.read_csv(file,names=names)
        df =df.iloc[1:]
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)
        
    if vehicleType == 'yellow':
        df.rename(columns={'pickup_longitude': 'Pickup_longitude','pickup_latitude':'Pickup_latitude',
                          'dropoff_longitude':'Dropoff_longitude','dropoff_latitude':'Dropoff_latitude',
                          'passenger_count':'Passenger_count'},inplace=True) 
        


    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','Pickup_longitude', 'Pickup_latitude',
                           'Dropoff_longitude', 'Dropoff_latitude'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['Pickup_longitude'] = df['Pickup_longitude'].astype('float')
    df['Pickup_latitude'] = df['Pickup_latitude'].astype('float')
    df['Dropoff_longitude'] = df['Dropoff_longitude'].astype('float')
    df['Dropoff_latitude'] = df['Dropoff_latitude'].astype('float')
    
    # filter to get outgoing traffic from selected hub
#     df = df[((df['Pickup_latitude'].between(lat1-0.0009,lat1+0.0009))\
#                            &(df['Pickup_longitude'].between(lon1-0.0009,lon1+0.0009)))\
#            |((df['Pickup_latitude'].between(lat2-0.0009,lat2+0.0009))\
#                            &(df['Pickup_longitude'].between(lon2-0.0009,lon2+0.0009)))]
    lat1,lon1,lat2,lon2 = 40.669409, -73.814252, 40.615843, -73.747190
    df = df[(df['Pickup_latitude'].between(lat2,lat1))\
                           &(df['Pickup_longitude'].between(lon1,lon2))]
    df['JFK'] = df.apply(lambda x:geom.Point(x['Pickup_longitude'],x['Pickup_latitude']),axis=1)
    df['JFK'] = df['JFK'] = df['JFK'].apply(lambda x: zones.geometry[136].contains(x))
    df = df[df['JFK']==True]
    del df['JFK']
    print(hub+" out DataFrame Shape: "+str(df.shape))
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['Date', 'Hour', 'Dropoff_longitude','Dropoff_latitude','Passenger_count']]

    df.rename(columns={'Passenger_count': 'vehicle_count'},inplace=True)


    #aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    aggregatedDf = df
    
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing yellow_tripdata_2015-05.csv
DataFrame Shape: (13158262, 19)
JFK out DataFrame Shape: (282415, 19)
Aggregated DataFrame Shape: (282415, 5)
           Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
133  2015-05-02    23         -73.983109         40.607601              1
142  2015-05-02    23         -73.964142         40.672272              1
226  2015-05-14     9         -73.984077         40.757462              1
create results file...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-11.csv
DataFrame Shape: (11312676, 19)
JFK out DataFrame Shape: (249928, 19)
Aggregated DataFrame Shape: (249928, 5)
           Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
48   2015-11-01     0         -73.784996         40.665409              2
183  2015-11-23     0         -73.894051         40.771526              1
184  2015-11-23     0         -73.980110         40.733639              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-10.csv
DataFrame Shape: (12315488, 19)
JFK out DataFrame Shape: (283478, 19)
Aggregated DataFrame Shape: (283478, 5)
           Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
25   2015-10-01     0         -73.983322         40.764595              1
109  2015-10-01     0         -73.947044         40.784283              1
136  2015-10-01     0         -73.985336         40.723667              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-04.csv
DataFrame Shape: (13071789, 19)
JFK out DataFrame Shape: (259324, 19)
Aggregated DataFrame Shape: (259324, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
12  2015-04-27    15         -73.992981         40.752419              3
15  2015-04-27    15         -73.964256         40.759048              1
21  2015-04-27    15         -73.983261         40.745296              6
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-12.csv
DataFrame Shape: (11460573, 19)
JFK out DataFrame Shape: (242704, 19)
Aggregated DataFrame Shape: (242704, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
18  2015-12-01     0         -74.008568         40.702866              1
22  2015-12-01     0         -73.984146         40.769951              1
30  2015-12-01     0         -73.884514         40.755962              2
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-06.csv
DataFrame Shape: (8079251, 19)
JFK out DataFrame Shape: (176184, 19)
Aggregated DataFrame Shape: (176184, 5)
           Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
88   2015-06-02    11         -74.006966         40.724930              2
222  2015-06-02    11         -73.866196         40.676254              5
346  2015-06-02    11         -73.931702         40.744465              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-07.csv
DataFrame Shape: (11562783, 19)
JFK out DataFrame Shape: (264270, 19)
Aggregated DataFrame Shape: (264270, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
6   2015-07-01     0         -73.974937         40.649429              2
59  2015-07-01     0         -73.978592         40.724445              1
81  2015-07-01     0         -73.802429         40.647678              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-03.csv
DataFrame Shape: (13351609, 19)
JFK out DataFrame Shape: (251843, 19)
Aggregated DataFrame Shape: (251843, 5)
           Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
19   2015-03-06     8         -73.884026         40.748268              1
145  2015-03-30    22         -73.877930         40.751396              2
164  2015-03-07    15         -73.765594         40.706356              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-02.csv
DataFrame Shape: (12450521, 19)
JFK out DataFrame Shape: (206100, 19)
Aggregated DataFrame Shape: (206100, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
13  2015-02-22    13         -73.861809         40.768429              4
87  2015-02-16    18         -73.949692         40.722019              2
95  2015-02-01    22         -73.952187         40.727291              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-08.csv
DataFrame Shape: (1532343, 21)

/Users/hemingyi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

JFK out DataFrame Shape: (383, 21)
Aggregated DataFrame Shape: (383, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
15647  2015-08-01     5         -73.789673         40.647007             1
15650  2015-08-01     5         -73.793015         40.660606             1
19718  2015-08-01     9         -73.803795         40.659042             2
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-09.csv
DataFrame Shape: (1494926, 21)
JFK out DataFrame Shape: (345, 21)
Aggregated DataFrame Shape: (345, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
7192   2015-09-01     8         -73.867226         40.770748             2
14116  2015-09-01    12         -73.785019         40.648418             2
14645  2015-09-01    12         -73.790123         40.643616             1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-01.csv
DataFrame Shape: (12748986, 19)
JFK out DataFrame Shape: (233265, 19)
Aggregated DataFrame Shape: (233265, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
8   2015-01-10    20         -73.987595         40.759357              3
27  2015-01-15    19         -73.985603         40.743530              1
88  2015-01-15    14         -73.977882         40.689640              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-04.csv
DataFrame Shape: (1664394, 21)
JFK out DataFrame Shape: (384, 21)
Aggregated DataFrame Shape: (384, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
5731   2015-04-01    16         -73.783165         40.643852             1
15537  2015-04-01    17         -73.988869         40.740482             1
16275  2015-04-01    21         -73.782600         40.723301             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-10.csv
DataFrame Shape: (1630536, 21)
JFK out DataFrame Shape: (360, 21)
Aggregated DataFrame Shape: (360, 5)
            Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
4159  2015-10-01     4         -73.872955         40.774246             1
4221  2015-10-01     4         -73.776329         40.645527             1
6080  2015-10-01     7         -73.789841         40.646973             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-11.csv
DataFrame Shape: (1529984, 21)
JFK out DataFrame Shape: (360, 21)
Aggregated DataFrame Shape: (360, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
26890  2015-11-01     5         -73.803337         40.678135             1
30252  2015-11-01     8         -73.782562         40.644115             1
31427  2015-11-01     9         -73.807434         40.699905             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-05.csv
DataFrame Shape: (1786848, 21)
JFK out DataFrame Shape: (426, 21)
Aggregated DataFrame Shape: (426, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
632    2015-05-01     0         -73.776535         40.646492             1
718    2015-05-01     0         -73.776535         40.646492             1
12705  2015-05-01    15         -73.994293         40.771927             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-07.csv
DataFrame Shape: (1541671, 21)
JFK out DataFrame Shape: (345, 21)
Aggregated DataFrame Shape: (345, 5)
            Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
2935  2015-07-01     1         -73.886169         40.760120             1
4748  2015-07-01     4         -73.776573         40.645939             1
5646  2015-07-01     6         -73.782257         40.644226             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-06.csv
DataFrame Shape: (1638868, 21)
JFK out DataFrame Shape: (399, 21)
Aggregated DataFrame Shape: (399, 5)
            Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
467   2015-06-01     0         -73.829918         40.705715             2
3330  2015-06-01     2         -73.951508         40.768337             1
3454  2015-06-01     2         -74.007637         40.732151             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-12.csv
DataFrame Shape: (1608290, 21)
JFK out DataFrame Shape: (423, 21)
Aggregated DataFrame Shape: (423, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
3528   2015-12-01     6         -73.866631         40.771252             1
9856   2015-12-01     9         -73.790237         40.646664             1
19120  2015-12-01    13         -73.788971         40.641628             1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-02.csv
DataFrame Shape: (1574830, 21)
JFK out DataFrame Shape: (275, 21)
Aggregated DataFrame Shape: (275, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
11719  2015-02-01     3         -73.954048         40.811249             3
21032  2015-02-01     4         -73.776413         40.645386             1
24724  2015-02-01    12         -73.875908         40.772102             2
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-03.csv
DataFrame Shape: (1722574, 21)
JFK out DataFrame Shape: (403, 21)
Aggregated DataFrame Shape: (403, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
7144   2015-03-01    17         -73.922935         40.762306             1
7660   2015-03-01    14         -73.853371         40.757263             2
11789  2015-03-01    15         -73.783279         40.643818             1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-09.csv
DataFrame Shape: (11225063, 19)
JFK out DataFrame Shape: (275695, 19)
Aggregated DataFrame Shape: (275695, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
0   2015-09-01     0         -73.857437         40.848263              1
49  2015-09-01     0         -73.973396         40.755287              1
52  2015-09-01     0         -73.900368         40.741871              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2015-01.csv
DataFrame Shape: (1508501, 21)
JFK out DataFrame Shape: (295, 21)
Aggregated DataFrame Shape: (295, 5)
             Date  Hour  Dropoff_longitude  Dropoff_latitude vehicle_count
27379  2015-01-01     6         -73.790512         40.646660             1
29960  2015-01-01    14         -73.885506         40.769573             2
37406  2015-01-01     8         -73.866920         40.770126             1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2015-08.csv
DataFrame Shape: (11130304, 19)
JFK out DataFrame Shape: (282559, 19)
Aggregated DataFrame Shape: (282559, 5)
          Date  Hour  Dropoff_longitude  Dropoff_latitude  vehicle_count
7   2015-08-01     0         -73.931221         40.675880              1
23  2015-08-01     0         -73.984894         40.768250              2
39  2015-08-01     0         -73.954033         40.606239              5
append to results...
file saved..
------------------------------------------------

### Assign pickup to taxi zone

In [56]:
sc

In [57]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import csv
import geopandas as gpd

In [58]:
rdd = sc.textFile(processedFile).cache()
rdd.take(10)

['Date,Hour,Dropoff_longitude,Dropoff_latitude,vehicle_count',
 '2015-05-02,23,-73.98310852050781,40.60760116577149,1',
 '2015-05-02,23,-73.96414184570312,40.672271728515625,1',
 '2015-05-14,9,-73.98407745361328,40.75746154785156,1',
 '2015-05-24,15,-74.00306701660156,40.72015380859375,1',
 '2015-05-24,15,-73.98428344726562,40.75151062011719,1',
 '2015-05-14,10,-73.89244842529298,40.747955322265625,2',
 '2015-05-14,10,-74.00601959228516,40.70886611938477,1',
 '2015-05-19,9,-73.8107681274414,40.69195556640625,1',
 '2015-05-13,16,-73.97402954101562,40.673992156982415,1']

In [61]:
zones = gpd.read_file('../Data/NYC Taxi Zones/geo_export_420696f7-2c26-4eab-be38-199c5fb5c185.shp')
len(zones.location_i.unique())

260

In [62]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext

def createIndex(shapefile):# target geojson
    import rtree
    import fiona.crs
    import geopandas as gpd
    zones = gpd.read_file(shapefile)
    index = rtree.Rtree()
    for idx,geometry in enumerate(zones.geometry):
        index.insert(idx, geometry.bounds)
    return (index, zones)

def findZone(p, index, zones):
    if p.is_valid:
        rtreeInter = index.intersection((p.x, p.y, p.x, p.y))
        for idx in rtreeInter:
            if zones.geometry[idx].is_valid:
                if zones.geometry[idx].contains(p):
                    return zones.location_i[idx]
#                     print(zones.location_i[idx])
#                 print('none')
                return None

def TripTaxizone(pid,trip):
    from pyproj import Proj, transform
    import csv
    import shapely.geometry as geom
    import re
    if pid == 0:
        next(trip)
    index, zones = createIndex('../Data/NYC Taxi Zones/geo_export_420696f7-2c26-4eab-be38-199c5fb5c185.shp')
    inProj = Proj(init='epsg:4326', preserve_units=True)
    outProj = Proj(init='epsg:2263')
    reader = csv.reader(trip)
    for row in reader:
        Lon, Lat = float(row[2]), float(row[3])
#         Lon,Lat = transform(inProj,outProj,Lon, Lat)
        Location = geom.Point(Lon, Lat)
        TaxiZone = findZone(Location, index, zones)
        if TaxiZone is not None:
            yield ((row[0],row[1],TaxiZone),row[4])
        else:
            yield (('out'),0)

In [63]:
rdd = sc.textFile(processedFile)
counts = rdd.mapPartitionsWithIndex(TripTaxizone).reduceByKey(lambda x,y:int(x)+int(y)).\
filter(lambda x: x[0]!='out').\
map(lambda x:(x[0][0],x[0][1],int(x[0][2]),x[1])).\
cache()

counts.collect()

[('2015-05-21', '21', 61, 7),
 ('2015-05-24', '17', 256, 8),
 ('2015-05-02', '14', 160, '1'),
 ('2015-05-02', '21', 162, 16),
 ('2015-05-03', '16', 231, 12),
 ('2015-05-11', '17', 74, 3),
 ('2015-05-03', '19', 95, 24),
 ('2015-05-06', '9', 49, 3),
 ('2015-05-16', '19', 191, 4),
 ('2015-05-30', '15', 216, '1'),
 ('2015-05-19', '14', 141, 4),
 ('2015-05-17', '0', 162, 25),
 ('2015-05-11', '14', 10, 8),
 ('2015-05-19', '16', 132, 32),
 ('2015-05-03', '20', 90, 7),
 ('2015-05-11', '16', 181, 3),
 ('2015-05-25', '5', 228, '1'),
 ('2015-05-25', '10', 132, 12),
 ('2015-05-09', '12', 114, 3),
 ('2015-05-04', '9', 162, 8),
 ('2015-05-06', '23', 95, 18),
 ('2015-05-06', '23', 170, 25),
 ('2015-05-07', '0', 80, 8),
 ('2015-05-22', '20', 206, '1'),
 ('2015-05-11', '18', 68, 7),
 ('2015-05-28', '6', 180, '1'),
 ('2015-05-08', '23', 79, 17),
 ('2015-05-31', '17', 1, 8),
 ('2015-05-04', '16', 142, '1'),
 ('2015-05-04', '16', 189, 4),
 ('2015-05-22', '13', 158, 14),
 ('2015-05-22', '13', 145, 13),
 ('2015-05-31', '19', 25, 6),
 ('2015-05-26', '16', 161, 26),
 ('2015-05-14', '22', 87, 10),
 ('2015-05-09', '23', 219, 6),
 ('2015-05-26', '16', 124, 4),
 ('2015-05-14', '23', 249, 6),
 ('2015-05-15', '1', 80, 2),
 ('2015-05-20', '0', 162, 13),
 ('2015-05-31', '23', 130, 8),
 ('2015-05-15', '1', 219, 7),
 ('2015-05-17', '9', 226, 4),
 ('2015-05-17', '10', 164, 9),
 ('2015-05-22', '17', 4, 9),
 ('2015-05-15', '5', 162, 4),
 ('2015-05-28', '15', 125, 2),
 ('2015-05-23', '5', 14, 2),
 ('2015-05-25', '22', 161, 19),
 ('2015-05-05', '7', 162, 18),
 ('2015-05-21', '10', 18, '1'),
 ('2015-05-18', '12', 132, 35),
 ('2015-05-23', '19', 132, 49),
 ('2015-05-20', '15', 256, 2),
 ('2015-05-18', '16', 90, 2),
 ('2015-05-12', '18', 141, 2),
 ('2015-05-17', '20', 27, '1'),
 ('2015-05-15', '16', 164, 24),
 ('2015-05-12', '23', 79, 10),
 ('2015-05-15', '16', 231, 10),
 ('2015-05-17', '22', 145, 12),
 ('2015-05-05', '12', 255, 3),
 ('2015-05-05', '12', 13, 4),
 ('2015-05-27', '12', 163, 13),
 ('2015-05-01', '8', 16, '1'),
 ('2015-05-10', '13', 79, 8),
 ('2015-05-05', '14', 139, 2),
 ('2015-05-16', '3', 80, '2'),
 ('2015-05-05', '19', 68, 9),
 ('2015-05-16', '6', 228, 5),
 ('2015-05-05', '20', 79, 14),
 ('2015-05-07', '14', 186, 25),
 ('2015-05-18', '6', 183, '5'),
 ('2015-05-18', '22', 155, 7),
 ('2015-05-18', '22', 126, '2'),
 ('2015-05-16', '17', 50, '1'),
 ('2015-05-24', '18', 79, 9),
 ('2015-05-06', '6', 39, 2),
 ('2015-05-03', '13', 26, '2'),
 ('2015-05-27', '18', 61, 12),
 ('2015-05-19', '5', 231, '1'),
 ('2015-05-01', '19', 132, 63),
 ('2015-05-18', '9', 45, '3'),
 ('2015-05-11', '8', 145, 8),
 ('2015-05-18', '10', 90, 2),
 ('2015-05-30', '7', 197, 2),
 ('2015-05-03', '9', 170, 10),
 ('2015-05-30', '15', 62, '1'),
 ('2015-05-30', '15', 43, 2),
 ('2015-05-24', '22', 130, 7),
 ('2015-05-30', '16', 65, '1'),
 ('2015-05-16', '21', 95, 16),
 ('2015-05-16', '22', 234, 10),
 ('2015-05-03', '15', 170, 31),
 ('2015-05-03', '5', 7, 3),
 ('2015-05-30', '17', 95, 6),
 ('2015-05-30', '17', 132, 35),
 ('2015-05-19', '17', 113, 13),
 ('2015-05-08', '6', 132, 17),
 ('2015-05-25', '7', 10, 6),
 ('2015-05-03', '18', 216, 8),
 ('2015-05-03', '20', 35, 7),
 ('2015-05-03', '20', 114, 6),
 ('2015-05-11', '16', 114, 7),
 ('2015-05-02', '13', 138, 9),
 ('2015-05-25', '5', 42, 2),
 ('2015-05-30', '18', 162, 7),
 ('2015-05-25', '7', 49, 3),
 ('2015-05-08', '12', 95, 10),
 ('2015-05-06', '14', 234, 4),
 ('2015-05-03', '22', 203, '1'),
 ('2015-05-10', '21', 25, 6),
 ('2015-05-08', '16', 95, 8),
 ('2015-05-08', '16', 164, 13),
 ('2015-05-04', '9', 4, 2),
 ('2015-05-21', '21', 17, 4),
 ('2015-05-06', '22', 17, '1'),
 ('2015-05-14', '21', 82, 5),
 ('2015-05-12', '8', 80, 6),
 ('2015-05-19', '23', 48, 12),
 ('2015-05-19', '23', 229, 3),
 ('2015-05-20', '0', 13, 4),
 ('2015-05-27', '21', 203, 6),
 ('2015-05-12', '16', 164, 13),
 ('2015-05-26', '12', 216, 7),
 ('2015-05-08', '22', 80, 17),
 ('2015-05-20', '18', 15, 7),
 ('2015-05-20', '18', 14, 9),
 ('2015-05-25', '20', 181, 18),
 ('2015-05-12', '7', 229, 2),
 ('2015-05-01', '14', 170, 43),
 ('2015-05-23', '6', 132, 19),
 ('2015-05-23', '6', 62, 2),
 ('2015-05-23', '6', 61, 2),
 ('2015-05-09', '21', 223, 9),
 ('2015-05-26', '15', 141, 9),
 ('2015-05-31', '21', 162, 10),
 ('2015-05-07', '13', 162, 35),
 ('2015-05-31', '22', 146, 4),
 ('2015-05-09', '1', 205, 3),
 ('2015-05-20', '14', 49, 5),
 ('2015-05-04', '21', 129, 9),
 ('2015-05-26', '20', 135, '6'),
 ('2015-05-01', '17', 132, 40),
 ('2015-05-28', '12', 61, '1'),
 ('2015-05-11', '22', 226, 5),
 ('2015-05-17', '7', 141, 7),
 ('2015-05-03', '13', 95, 9),
 ('2015-05-17', '8', 161, 6),
 ('2015-05-23', '13', 234, 4),
 ('2015-05-17', '9', 158, 2),
 ('2015-05-12', '22', 223, 7),
 ('2015-05-05', '3', 76, '1'),
 ('2015-05-22', '17', 170, 27),
 ('2015-05-27', '7', 107, 10),
 ('2015-05-15', '5', 163, 2),
 ('2015-05-29', '12', 132, 37),
 ('2015-05-29', '13', 229, '2'),
 ('2015-05-15', '7', 163, 9),
 ('2015-05-23', '17', 203, 2),
 ('2015-05-02', '8', 132, 16),
 ('2015-05-29', '14', 255, 4),
 ('2015-05-29', '14', 164, 12),
 ('2015-05-29', '15', 138, 10),
 ('2015-05-29', '15', 132, 48),
 ('2015-05-05', '21', 145, 7),
 ('2015-05-16', '14', 164, 23),
 ('2015-05-24', '17', 48, 15),
 ('2015-05-17', '16', 100, 4),
 ('2015-05-17', '14', 170, 29),
 ('2015-05-15', '10', 188, '4'),
 ('2015-05-15', '11', 132, 27),
 ('2015-05-16', '18', 100, 10),
 ('2015-05-21', '14', 113, 2),
 ('2015-05-16', '18', 79, 22),
 ('2015-05-23', '22', 74, '2'),
 ('2015-05-14', '1', 114, 3),
 ('2015-05-27', '13', 223, 2),
 ('2015-05-30', '15', 246, '2'),
 ('2015-05-30', '15', 148, 3),
 ('2015-05-18', '19', 162, 28),
 ('2015-05-19', '17', 229, 3),
 ('2015-05-25', '2', 132, 6),
 ('2015-05-16', '8', 13, 2),
 ('2015-05-17', '18', 95, 17),
 ('2015-05-15', '16', 229, 8),
 ('2015-05-17', '20', 95, 18),
 ('2015-05-17', '21', 124, 9),
 ('2015-05-17', '22', 90, 11),
 ('2015-05-18', '22', 68, 20),
 ('2015-05-07', '14', 132, 54),
 ('2015-05-18', '6', 137, 3),
 ('2015-05-16', '10', 228, '1'),
 ('2015-05-30', '20', 170, 18),
 ('2015-05-07', '16', 155, '1'),
 ('2015-05-01', '21', 158, 8),
 ('2015-05-07', '15', 87, 11),
 ('2015-05-16', '11', 233, 10),
 ('2015-05-16', '12', 79, 4),
 ('2015-05-02', '21', 191, 3),
 ('2015-05-14', '5', 49, '2'),
 ('2015-05-03', '15', 132, 72),
 ('2015-05-11', '16', 164, 28),
 ('2015-05-03', '5', 87, 7),
 ('2015-05-25', '12', 233, 3),
 ('2015-05-16', '23', 255, 14),
 ('2015-05-18', '10', 210, 2),
 ('2015-05-09', '7', 142, 6),
 ('2015-05-07', '20', 95, 7),
 ('2015-05-07', '20', 48, 28),
 ('2015-05-07', '22', 13, 5),
 ('2015-05-09', '12', 164, 34),
 ('2015-05-14', '9', 180, '1'),
 ('2015-05-14', '23', 10, 7),
 ('2015-05-10', '13', 97, 4),
 ('2015-05-31', '0', 163, 7),
 ('2015-05-10', '23', 80, 2),
 ('2015-05-08', '13', 161, 9),
 ('2015-05-20', '18', 107, 10),
 ('2015-05-08', '15', 216, '1'),
 ('2015-05-12', '5', 127, '1'),
 ('2015-05-31', '20', 26, '1'),
 ('2015-05-31', '21', 150, '1'),
 ('2015-05-14', '15', 142, 14),
 ('2015-05-21', '22', 170, 18),
 ('2015-05-21', '22', 80, 5),
 ('2015-05-31', '22', 89, 2),
 ('2015-05-31', '22', 170, 25),
 ('2015-05-08', '19', 223, 5),
 ('2015-05-27', '21', 107, 4),
 ('2015-05-15', '18', 161, 21),
 ('2015-05-01', '6', 200, '5'),
 ('2015-05-31', '8', 80, '1'),
 ('2015-05-31', '9', 155, '1'),
 ('2015-05-26', '0', 244, 2),
 ('2015-05-06', '17', 164, 22),
 ('2015-05-31', '10', 130, 4),
 ('2015-05-26', '19', 181, 4),
 ('2015-05-26', '19', 162, 34),
 ('2015-05-08', '20', 89, 2),
 ('2015-05-09', '16', 145, 12),
 ('2015-05-12', '8', 162, 17),
 ('2015-05-27', '23', 164, 23),
 ('2015-05-26', '8', 145, 2),
 ('2015-05-31', '14', 53, 7),
 ('2015-05-22', '23', 170, 32),
 ('2015-05-20', '16', 137, 10),
 ('2015-05-20', '17', 10, 5),
 ('2015-05-22', '6', 65, '1'),
 ('2015-05-23', '0', 163, 12),
 ('2015-05-23', '0', 256, 11),
 ('2015-05-12', '19', 181, 4),
 ('2015-05-01', '13', 181, 2),
 ('2015-05-15', '22', 48, 25),
 ('2015-05-07', '10', 161, 14),
 ('2015-05-09', '0', 10, 13),
 ('2015-05-27', '7', 87, 9),
 ('2015-05-01', '1', 161, '1'),
 ('2015-05-04', '20', 76, 9),
 ('2015-05-01', '15', 25, 7),
 ('2015-05-05', '15', 132, 40),
 ('2015-05-13', '22', 124, 6),
 ('2015-05-22', '13', 170, 27),
 ('2015-05-10', '0', 146, '6'),
 ('2015-05-05', '1', 26, '1'),
 ('2015-05-05', '19', 33, 6),
 ('2015-05-05', '5', 255, 5),
 ('2015-05-23', '14', 164, 10),
 ('2015-05-24', '15', 170, 29),
 ('2015-05-02', '19', 48, 15),
 ('2015-05-21', '17', 188, '1'),
 ('2015-05-24', '17', 216, '1'),
 ('2015-05-05', '8', 83, '1'),
 ('2015-05-03', '13', 15, 5),
 ('2015-05-30', '12', 141, 6),
 ('2015-05-22', '17', 233, 16),
 ('2015-05-28', '15', 71, '1'),
 ('2015-05-24', '20', 112, 6),
 ('2015-05-23', '20', 234, '1'),
 ('2015-05-06', '9', 232, 3),
 ('2015-05-18', '16', 39, 6),
 ('2015-05-03', '19', 233, 3),
 ('2015-05-03', '11', 234, 8),
 ('2015-05-23', '22', 61, 7),
 ('2015-05-16', '1', 259, '1'),
 ('2015-05-17', '16', 95, 14),
 ('2015-05-11', '17', 163, 11),
 ('2015-05-23', '23', 200, '1'),
 ('2015-05-30', '18', 138, 3),
 ('2015-05-19', '18', 226, 8),
 ('2015-05-14', '20', 188, 3),
 ('2015-05-03', '6', 89, '1'),
 ('2015-05-25', '13', 112, 9),
 ('2015-05-15', '15', 162, 6),
 ('2015-05-28', '23', 189, 2),
 ('2015-05-09', '10', 132, 14),
 ('2015-05-19', '22', 137, 3),
 ('2015-05-03', '7', 61, 6),
 ('2015-05-19', '22', 252, '2'),
 ('2015-05-03', '7', 87, 2),
 ('2015-05-01', '19', 114, 9),
 ('2015-05-07', '15', 226, 6),
 ('2015-05-09', '15', 100, 7),
 ('2015-05-18', '23', 87, 7),
 ('2015-05-25', '19', 14, 9),
 ('2015-05-12', '16', 161, 13),
 ('2015-05-12', '5', 188, '1'),
 ('2015-05-12', '6', 186, '6'),
 ('2015-05-26', '13', 68, 13),
 ('2015-05-31', '19', 107, 6),
 ('2015-05-07', '17', 132, 64),
 ('2015-05-18', '9', 48, 7),
 ('2015-05-01', '19', 239, 3),
 ('2015-05-03', '14', 49, 2),
 ('2015-05-30', '6', 37, 5),
 ('2015-05-18', '10', 10, '1'),
 ('2015-05-31', '21', 132, 25),
 ('2015-05-09', '13', 162, 13),
 ('2015-05-15', '17', 89, '2'),
 ('2015-05-26', '16', 65, 5),
 ('2015-05-31', '6', 255, 14),
 ('2015-05-15', '18', 242, '1'),
 ('2015-05-26', '1', 215, 2),
 ('2015-05-11', '7', 7, 2),
 ('2015-05-15', '18', 162, 20),
 ('2015-05-20', '11', 132, 29),
 ('2015-05-15', '19', 170, 23),
 ('2015-05-01', '21', 219, 8),
 ('2015-05-07', '19', 161, 14),
 ('2015-05-07', '19', 134, 3),
 ('2015-05-07', '19', 68, 29),
 ('2015-05-09', '16', 256, 4),
 ('2015-05-19', '10', 226, 4),
 ('2015-05-13', '7', 65, '1'),
 ('2015-05-15', '21', 87, 12),
 ('2015-05-13', '8', 163, 3),
 ('2015-05-26', '22', 232, 9),
 ('2015-05-19', '13', 141, 9),
 ('2015-05-26', '23', 42, '1'),
 ('2015-05-27', '0', 65, 2),
 ('2015-05-02', '16', 145, 13),
 ('2015-05-20', '13', 232, 3),
 ('2015-05-08', '14', 132, 54),
 ('2015-05-14', '15', 161, 26),
 ('2015-05-27', '20', 90, 3),
 ('2015-05-31', '14', 262, 2),
 ('2015-05-14', '16', 113, 5),
 ('2015-05-08', '19', 203, '1'),
 ('2015-05-21', '11', 100, '1'),
 ('2015-05-27', '9', 97, '5'),
 ('2015-05-22', '22', 26, '1'),
 ('2015-05-12', '18', 181, 9),
 ('2015-05-27', '22', 186, '1'),
 ('2015-05-08', '20', 234, 9),
 ('2015-05-02', '17', 181, 10),
 ('2015-05-13', '22', 107, 16),
 ('2015-05-04', '15', 100, 12),
 ('2015-05-21', '14', 93, 2),
 ('2015-05-14', '0', 186, 5),
 ('2015-05-12', '20', 231, 14),
 ('2015-05-11', '13', 142, 4),
 ('2015-05-28', '0', 107, 5),
 ('2015-05-02', '18', 25, 3),
 ('2015-05-22', '6', 143, 7),
 ('2015-05-14', '1', 56, '1'),
 ('2015-05-23', '5', 229, '1'),
 ('2015-05-12', '22', 170, 35),
 ('2015-05-04', '19', 87, 8),
 ('2015-05-04', '19', 219, 2),
 ('2015-05-13', '16', 162, 27),
 ('2015-05-04', '20', 10, 11),
 ('2015-05-29', '6', 79, 10),
 ('2015-05-29', '7', 137, 2),
 ('2015-05-04', '21', 78, '2'),
 ('2015-05-29', '9', 132, 24),
 ('2015-05-01', '16', 61, 13),
 ('2015-05-05', '16', 17, 3),
 ('2015-05-05', '15', 11, '6'),
 ('2015-05-05', '23', 42, 6),
 ('2015-05-05', '6', 132, 18),
 ('2015-05-06', '1', 75, 2),
 ('2015-05-29', '13', 68, 4),
 ('2015-05-18', '12', 255, 6),
 ('2015-05-30', '11', 132, 28),
 ('2015-05-03', '10', 249, '1'),
 ('2015-05-03', '10', 161, 4),
 ('2015-05-23', '18', 168, '1'),
 ('2015-05-17', '9', 164, 11),
 ('2015-05-29', '17', 249, 11),
 ('2015-05-29', '16', 232, '1'),
 ('2015-05-30', '13', 145, 11),
 ('2015-05-30', '13', 144, 3),
 ('2015-05-30', '14', 181, 3),
 ('2015-05-18', '14', 145, 15),
 ('2015-05-15', '23', 231, 9),
 ('2015-05-18', '17', 48, 42),
 ('2015-05-23', '22', 97, 9),
 ('2015-05-25', '1', 37, '1'),
 ('2015-05-15', '8', 61, 3),
 ('2015-05-18', '20', 81, 3),
 ('2015-05-16', '9', 132, 10),
 ('2015-05-17', '15', 223, 16),
 ('2015-05-01', '22', 162, 18),
 ('2015-05-18', '22', 152, '2'),
 ('2015-05-24', '8', 234, 4),
 ('2015-05-12', '11', 139, '1'),
 ('2015-05-30', '1', 13, '1'),
 ('2015-05-11', '17', 89, 7),
 ('2015-05-17', '18', 10, 9),
 ('2015-05-19', '5', 68, 2),
 ('2015-05-17', '18', 161, 25),
 ('2015-05-25', '16', 79, 14),
 ('2015-05-25', '18', 226, 7),
 ('2015-05-28', '22', 231, 12),
 ('2015-05-17', '1', 161, 3),
 ('2015-05-30', '10', 80, 2),
 ('2015-05-20', '7', 158, 6),
 ('2015-05-29', '0', 52, '1'),
 ('2015-05-29', '0', 132, 45),
 ('2015-05-17', '21', 79, 21),
 ('2015-05-07', '15', 166, 4),
 ('2015-05-18', '7', 132, 35),
 ('2015-05-18', '8', 162, 12),
 ('2015-05-13', '1', 170, 10),
 ('2015-05-31', '16', 43, 7),
 ('2015-05-09', '20', 10, 28),
 ('2015-05-12', '16', 142, 10),
 ('2015-05-14', '16', 162, 21),
 ('2015-05-20', '19', 255, 24),
 ('2015-05-20', '19', 79, 15),
 ('2015-05-14', '17', 161, 35),
 ('2015-05-06', '12', 48, 24),
 ('2015-05-26', '8', 131, '1'),
 ('2015-05-20', '13', 170, 30),
 ('2015-05-02', '18', 145, 9),
 ('2015-05-08', '12', 132, 57),
 ('2015-05-08', '14', 221, '2'),
 ('2015-05-06', '16', 112, 7),
 ('2015-05-20', '14', 232, 3),
 ('2015-05-27', '20', 163, 9),
 ('2015-05-03', '22', 170, 20),
 ('2015-05-06', '22', 95, 9),
 ('2015-05-22', '22', 68, 21),
 ('2015-05-02', '17', 132, 37),
 ('2015-05-22', '23', 219, 12),
 ('2015-05-12', '14', 223, '3'),
 ('2015-05-27', '8', 232, '1'),
 ('2015-05-13', '21', 132, 40),
 ('2015-05-27', '10', 164, 15),
 ('2015-05-01', '12', 14, 4),
 ('2015-05-01', '10', 25, '1'),
 ('2015-05-05', '12', 132, 15),
 ('2015-05-21', '14', 161, 29),
 ('2015-05-05', '14', 112, 2),
 ('2015-05-23', '10', 95, 2),
 ('2015-05-05', '16', 181, 5),
 ('2015-05-10', '0', 53, '1'),
 ('2015-05-28', '11', 10, 5),
 ('2015-05-22', '14', 87, 5),
 ('2015-05-10', '20', 231, 5),
 ('2015-05-05', '20', 162, 15),
 ('2015-05-24', '14', 229, 5),
 ('2015-05-17', '8', 79, 5),
 ('2015-05-18', '13', 138, 34),
 ('2015-05-24', '19', 66, 4),
 ('2015-05-30', '14', 132, 51),
 ('2015-05-15', '8', 142, 6),
 ('2015-05-17', '13', 162, 26),
 ('2015-05-29', '18', 141, 14),
 ('2015-05-23', '21', 142, 6),
 ('2015-05-23', '22', 162, 11),
 ('2015-05-15', '9', 146, '1'),
 ('2015-05-25', '0', 216, 3),
 ('2015-05-19', '17', 181, 10),
 ('2015-05-02', '19', 13, 8),
 ('2015-05-25', '5', 180, 2),
 ('2015-05-12', '12', 142, 2),
 ('2015-05-18', '20', 233, 6),
 ('2015-05-25', '10', 191, '5'),
 ('2015-05-29', '22', 141, 13),
 ('2015-05-16', '10', 162, 19),
 ('2015-05-14', '20', 162, 16),
 ('2015-05-01', '14', 97, '1'),
 ('2015-05-14', '22', 224, 2),
 ('2015-05-24', '6', 129, 9),
 ('2015-05-28', '22', 162, 9),
 ('2015-05-17', '19', 87, 17),
 ('2015-05-17', '19', 223, 2),
 ('2015-05-25', '14', 226, 5),
 ('2015-05-25', '14', 148, 10),
 ('2015-05-19', '22', 164, 11),
 ('2015-05-14', '23', 170, 15),
 ('2015-05-25', '16', 219, 2),
 ('2015-05-15', '1', 68, 2),
 ('2015-05-19', '1', 4, 2),
 ('2015-05-14', '6', 170, 28),
 ('2015-05-24', '13', 79, 6),
 ('2015-05-17', '21', 158, 10),
 ('2015-05-01', '17', 13, 9),
 ('2015-05-17', '21', 157, '1'),
 ('2015-05-14', '7', 45, '1'),
 ('2015-05-12', '1', 114, 5),
 ('2015-05-25', '19', 132, 58),
 ('2015-05-15', '16', 163, 6),
 ('2015-05-25', '21', 189, '1'),
 ('2015-05-11', '6', 256, 3),
 ('2015-05-19', '8', 162, 17),
 ('2015-05-01', '18', 170, 12),
 ('2015-05-01', '19', 79, 9),
 ('2015-05-26', '0', 166, 9),
 ('2015-05-03', '13', 216, 10),
 ('2015-05-03', '15', 87, 11),
 ('2015-05-31', '12', 132, 43),
 ('2015-05-03', '0', 129, 8),
 ('2015-05-14', '15', 100, 16),
 ('2015-05-14', '17', 90, 7),
 ('2015-05-03', '21', 188, 6),
 ('2015-05-13', '7', 37, 3),
 ('2015-05-11', '17', 229, 5),
 ('2015-05-16', '23', 164, 7),
 ('2015-05-11', '17', 141, 8),
 ('2015-05-03', '20', 233, 8),
 ('2015-05-05', '11', 100, 7),
 ('2015-05-03', '6', 48, 7),
 ('2015-05-01', '7', 255, 8),
 ('2015-05-05', '14', 164, 10),
 ('2015-05-05', '15', 90, 6),
 ('2015-05-05', '19', 145, 2),
 ('2015-05-10', '20', 68, 22),
 ('2015-05-16', '13', 162, 11),
 ('2015-05-16', '13', 142, 11),
 ('2015-05-30', '13', 141, 12),
 ('2015-05-11', '10', 186, 4),
 ('2015-05-31', '18', 158, 10),
 ('2015-05-20', '18', 148, 2),
 ('2015-05-06', '10', 166, 2),
 ('2015-05-20', '20', 256, 13),
 ('2015-05-25', '0', 181, 10),
 ('2015-05-26', '15', 166, 9),
 ('2015-05-11', '15', 237, 6),
 ('2015-05-25', '1', 15, '2'),
 ('2015-05-30', '17', 75, '1'),
 ('2015-05-10', '22', 87, 12),
 ('2015-05-08', '13', 166, 5),
 ('2015-05-10', '22', 61, 4),
 ('2015-05-19', '19', 51, '2'),
 ('2015-05-20', '21', 170, 16),
 ('2015-05-11', '18', 249, 7),
 ('2015-05-14', '20', 132, 39),
 ('2015-05-26', '19', 223, 8),
 ('2015-05-25', '13', 114, 5),
 ('2015-05-26', '21', 10, 6),
 ('2015-05-19', '22', 65, 10),
 ('2015-05-14', '21', 87, 8),
 ('2015-05-15', '22', 158, 2),
 ('2015-05-15', '22', 132, 38),
 ('2015-05-15', '22', 49, 6),
 ('2015-05-30', '22', 211, '2'),
 ('2015-05-14', '22', 223, 3),
 ('2015-05-19', '22', 226, 11),
 ('2015-05-14', '22', 4, 3),
 ('2015-05-27', '20', 75, 2),
 ('2015-05-03', '23', 95, 18),
 ('2015-05-04', '7', 162, 32),
 ('2015-05-25', '15', 163, 14),
 ('2015-05-21', '23', 163, 6),
 ('2015-05-02', '17', 75, 5),
 ('2015-05-21', '12', 162, 21),
 ('2015-05-04', '11', 13, 10),
 ('2015-05-23', '0', 162, 25),
 ('2015-05-04', '16', 162, 37),
 ('2015-05-04', '16', 255, 10),
 ('2015-05-23', '0', 49, 2),
 ('2015-05-04', '16', 163, 11),
 ('2015-05-12', '14', 179, 8),
 ('2015-05-12', '15', 132, 42),
 ('2015-05-01', '0', 231, 16),
 ('2015-05-11', '13', 107, 16),
 ('2015-05-13', '22', 45, '1'),
 ('2015-05-25', '23', 252, 4),
 ('2015-05-07', '11', 98, '1'),
 ('2015-05-07', '11', 130, 2),
 ('2015-05-23', '5', 249, '1'),
 ('2015-05-27', '12', 76, 3),
 ('2015-05-07', '13', 163, 9),
 ('2015-05-31', '10', 39, 4),
 ('2015-05-27', '13', 233, 11),
 ('2015-05-04', '20', 61, 11),
 ('2015-05-29', '7', 89, '2'),
 ('2015-05-23', '14', 48, 28),
 ('2015-05-29', '10', 162, 14),
 ('2015-05-23', '15', 64, '5'),
 ('2015-05-29', '14', 90, 5),
 ('2015-05-23', '17', 48, 28),
 ('2015-05-23', '18', 132, 26),
 ('2015-05-22', '12', 132, 42),
 ('2015-05-26', '7', 79, 20),
 ('2015-05-22', '15', 113, 2),
 ('2015-05-29', '19', 164, 21),
 ('2015-05-23', '20', 131, '4'),
 ('2015-05-31', '12', 224, '1'),
 ('2015-05-01', '22', 95, 7),
 ('2015-05-20', '15', 13, 6),
 ('2015-05-15', '7', 233, 11),
 ('2015-05-17', '12', 61, 3),
 ('2015-05-09', '20', 151, '1'),
 ('2015-05-16', '8', 79, 4),
 ('2015-05-01', '17', 197, '2'),
 ('2015-05-28', '19', 79, 14),
 ('2015-05-19', '6', 163, 6),
 ('2015-05-12', '22', 37, 7),
 ('2015-05-12', '23', 43, '5'),
 ('2015-05-12', '12', 7, '1'),
 ('2015-05-11', '6', 224, '6'),
 ('2015-05-15', '13', 14, 7),
 ('2015-05-28', '22', 42, '2'),
 ('2015-05-01', '6', 175, '1'),
 ('2015-05-17', '21', 233, 8),
 ('2015-05-14', '13', 114, 6),
 ('2015-05-15', '16', 161, 18),
 ('2015-05-01', '19', 100, 8),
 ('2015-05-18', '6', 157, '1'),
 ('2015-05-11', '0', 49, 13),
 ('2015-05-05', '23', 226, 8),
 ('2015-05-16', '15', 132, 58),
 ('2015-05-16', '16', 132, 58),
 ('2015-05-16', '16', 179, '1'),
 ('2015-05-03', '21', 263, 2),
 ('2015-05-01', '13', 141, 4),
 ('2015-05-30', '13', 185, '1'),
 ('2015-05-24', '22', 232, 7),
 ('2015-05-07', '21', 149, '1'),
 ('2015-05-30', '16', 206, '4'),
 ('2015-05-04', '6', 163, 6),
 ('2015-05-13', '7', 138, 10),
 ('2015-05-30', '18', 189, '2'),
 ('2015-05-04', '9', 55, 2),
 ('2015-05-04', '10', 231, 11),
 ('2015-05-22', '20', 49, 11),
 ('2015-05-27', '18', 163, 4),
 ('2015-05-27', '18', 162, 18),
 ('2015-05-25', '9', 181, 2),

In [64]:
processedFile

'/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/JFKVehiceByHour2015.csv'

In [65]:
df = sqlContext.createDataFrame(counts,('Date','Hour','DOLocationID','vehicle_count'))
df.toPandas().to_csv(processedFile, index=False)
print('done')

done

### Further processing

In [66]:
def getcCompleteGridDf(minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    print(len(days))
    print(len(hours))
    
    combList = list(itertools.product(*[days,hours,locations]))
    dfList = [{'Date':d, 'Hour':h, 'DOLocationID':l} for d,h,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [67]:
processedDf = pd.read_csv(processedFile)
processedDf.head(2)

         Date  Hour  DOLocationID  vehicle_count
0  2015-05-21    21            61            7.0
1  2015-05-24    17           256            8.0

In [68]:
processedDf.shape

(622779, 4)

In [69]:
# ensuring proper grouping since files were grouped by independently
processedDf = processedDf.groupby(['Date', 'Hour', 'DOLocationID']).sum().reset_index()
processedDf.shape

(622779, 4)

In [70]:
# sanity checks
validYears = [2015]
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[0]) in validYears)]

validMonths = list(range(1,13))
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[1]) in validMonths)]

processedDf.shape

(622779, 4)

In [71]:
minDate, maxDate = (processedDf.Date.min(), processedDf.Date.max()) 
#v_types = list(set(processedDf.vehicle_type))
locations = list(zones.location_i.unique())

#print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(minDate,maxDate,locations)
dateHourDf.shape

260
365
24

(2277600, 3)

In [72]:
260*365*24

2277600

In [73]:
dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date'])
processedDf['Date'] = pd.to_datetime(processedDf['Date'])

In [74]:
mergedDf = pd.merge(dateHourDf,processedDf, on=['Date', 'Hour', 'DOLocationID'], how='left')
mergedDf.fillna(0, inplace=True)
mergedDf['Date'] = mergedDf['Date'].dt.date
print(mergedDf.shape)
mergedDf.head(3)

(2277600, 4)

   DOLocationID        Date  Hour  vehicle_count
0           1.0  2015-01-01     0            0.0
1           2.0  2015-01-01     0            0.0
2           3.0  2015-01-01     0            0.0

In [75]:
# sanity check
print(processedDf.vehicle_count.sum())
print(mergedDf.vehicle_count.sum())

2261378.0
2261378.0

In [76]:
mergedDf['Date'] = mergedDf['Date'].astype('str')
mergedDf['Hour'] = mergedDf['Hour'].astype('str')
mergedDf['DOLocationID'] = mergedDf['DOLocationID'].astype('str')
mergedDf.to_csv('/Users/hemingyi/Documents/UrbanTemporalNetworks/processedData/'+hub+'VehiceByHour2015.csv',index=False)