### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [1]:
import dask.dataframe as dd
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [2]:
!pwd

/home/mingyi/Dropbox/UrbanTemporalNetworks/Data Collection Scripts

In [3]:
# raw data directory
dataDir = '/home/mingyi/Dropbox/UrbanTemporalNetworks/rawData/'

In [4]:
files = glob.glob(dataDir+'*csv')
len(files)

36

### identify zones of interest

In [17]:
zones = pd.read_csv('../Data/taxi_zones.csv')
zones.head(2)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens

In [18]:
zones[zones.zone.apply(lambda x: 'Airport' in x)][['zone','LocationID']]

                  zone  LocationID
0       Newark Airport           1
136        JFK Airport         132
145  LaGuardia Airport         138

In [19]:
zones[zones.zone.apply(lambda x: 'Station' in x)][['zone','LocationID']]

                             zone  LocationID
185  Penn Station/Madison Sq West         186

In [20]:
zone_dict = {'JFK':  132,
'LGA' : 138,
'PENN' : 186,
'EWR':1}
zone_dict

{'JFK': 132, 'LGA': 138, 'PENN': 186, 'EWR': 1}

### Run following script for each hub

In [36]:
hub = 'LGA'
zone = zone_dict[hub]
zone

138

In [37]:
processedFileDir = "../processedData/"
processedFile = processedFileDir+hub+"rawRenmaedFile.csv"

In [38]:
validDestZones = list(set([z for z in zones.LocationID if z != zone]))
len(validDestZones)

259

In [ ]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df = pd.read_csv(file,engine='python',sep=',',encoding='utf8', 
                         usecols=['Pickup_DateTime','PUlocationID','DOlocationID'])
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1
        
    if vehicleType == 'green':
        df = pd.read_csv(file,engine='python',sep=',',encoding='utf8', 
                         usecols=['lpep_pickup_datetime','PULocationID','DOLocationID','passenger_count'])
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)

    if vehicleType == 'yellow':
        df = pd.read_csv(file,engine='python',sep=',',encoding='utf8', 
                         usecols=['tpep_pickup_datetime','PULocationID','DOLocationID','passenger_count'])
    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from selected hub
    df = df[(df['PULocationID'] == zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
#     df['Date'] = df['tpep_pickup_datetime'].apply(lambda x:x.split(' ')[0])
#     df['Hour'] = df['tpep_pickup_datetime'].apply(lambda x:x.split(' ')[1].split(':')[0])
#     df['Min'] = df['tpep_pickup_datetime'].apply(lambda x:x.split(' ')[1].split(':')[1])
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['tpep_pickup_datetime','DOLocationID','passenger_count']]

    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        df.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        df.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing yellow_tripdata_2018-10.csv
JFK out DataFrame Shape: (242630, 4)
create results file...
file saved..
------------------------------------------------
Processing green_tripdata_2018-08.csv
JFK out DataFrame Shape: (40, 4)
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-04.csv
JFK out DataFrame Shape: (49, 4)
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv

In [35]:
df

        tpep_pickup_datetime  passenger_count
30       2018-02-28 23:59:53                1
31       2018-03-01 00:33:37                1
64       2018-03-01 00:11:40                2
69       2018-03-01 00:36:50                1
81       2018-03-01 00:26:32                1
...                      ...              ...
9430219  2018-03-31 23:12:25                1
9430223  2018-03-31 23:40:26                1
9430303  2018-03-31 23:37:01                0
9430351  2018-03-31 23:09:07                4
9430357  2018-03-31 23:16:24                1

[199739 rows x 2 columns]

In [28]:
pd.read_csv(files[0]).columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount'],
      dtype='object')

In [32]:
len(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount'])

17

In [29]:
pd.read_csv(files[1]).columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type'],
      dtype='object')

In [33]:
len(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type'])

19

In [30]:
pd.read_csv(files[3]).columns

Index(['Pickup_DateTime', 'DropOff_datetime', 'PUlocationID', 'DOlocationID',
       'SR_Flag', 'Dispatching_base_number', 'Dispatching_base_num'],
      dtype='object')

In [34]:
len(['Pickup_DateTime', 'DropOff_datetime', 'PUlocationID', 'DOlocationID',
       'SR_Flag', 'Dispatching_base_number', 'Dispatching_base_num'])

7

In [102]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file,engine='python',sep=',',encoding='utf8')
    print("DataFrame Shape: "+str(df.shape))
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1
        
    if vehicleType == 'green':
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)


    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from selected hub
    df = df[(df['PULocationID'] == zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    df['Min'] = df['tpep_pickup_datetime'].dt.minute
    df['Min'] = df['Min'] >30
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['Date', 'Hour','Min', 'DOLocationID','passenger_count']]
    
    # Hourly aggregation
    #df_count = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count = df.groupby(['Date', 'Hour','Min', 'DOLocationID']).count().reset_index()
    df_count.rename(columns={'passenger_count': 'vehicle_count'},inplace=True)

    #df_sum = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()

    #aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    aggregatedDf = df_count
    
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing yellow_tripdata_2018-10.csv
DataFrame Shape: (8821105, 17)
JFK out DataFrame Shape: (288046, 17)
Aggregated DataFrame Shape: (72394, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2008-12-31    12  False            48              1
1  2009-01-01     0  False            68              1
2  2009-01-01     1  False           261              1
create results file...
file saved..
------------------------------------------------
Processing green_tripdata_2018-08.csv
DataFrame Shape: (666376, 19)
JFK out DataFrame Shape: (29, 19)
Aggregated DataFrame Shape: (29, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-08-01     0  False           233              1
1  2018-08-01     0   True            50              1
2  2018-08-02     8  False           137              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-04.csv
DataFrame Shape: (800084, 19)
JFK out DataFrame Shape: (27, 19)
Aggregated DataFrame Shape: (27, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-04-01    11  False           230              1
1  2018-04-02    17  False            68              1
2  2018-04-02    21  False           230              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv
DataFrame Shape: (21135283, 7)
JFK out DataFrame Shape: (108689, 8)
Aggregated DataFrame Shape: (58424, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-06-01     0  False             4              1
1  2018-06-01     0  False             7              4
2  2018-06-01     0  False            13              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-10.csv
DataFrame Shape: (23286795, 7)
JFK out DataFrame Shape: (131034, 8)
Aggregated DataFrame Shape: (66889, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-10-01     0  False             1              1
1  2018-10-01     0  False             4              2
2  2018-10-01     0  False             7              3
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-05.csv
DataFrame Shape: (797233, 19)
JFK out DataFrame Shape: (29, 19)
Aggregated DataFrame Shape: (29, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-05-02    18  False           163              1
1  2018-05-03    18   True            68              1
2  2018-05-03    19  False           233              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-02.csv
DataFrame Shape: (19350693, 7)
JFK out DataFrame Shape: (97203, 8)
Aggregated DataFrame Shape: (51934, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-02-01     0  False             4              1
1  2018-02-01     0  False             7              1
2  2018-02-01     0  False            19              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-11.csv
DataFrame Shape: (8145164, 17)
JFK out DataFrame Shape: (273052, 17)
Aggregated DataFrame Shape: (68914, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2008-12-31    23  False           230              1
1  2018-10-31    23   True           162              2
2  2018-10-31    23   True           230              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-03.csv
DataFrame Shape: (21985249, 7)
JFK out DataFrame Shape: (109253, 8)
Aggregated DataFrame Shape: (59119, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-03-01     0  False             8              1
1  2018-03-01     0  False            18              1
2  2018-03-01     0  False            24              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-11.csv
DataFrame Shape: (22870474, 7)
JFK out DataFrame Shape: (133497, 8)
Aggregated DataFrame Shape: (65205, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-11-01     0  False             7              1
1  2018-11-01     0  False            15              1
2  2018-11-01     0  False            24              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-01.csv
DataFrame Shape: (793529, 19)
JFK out DataFrame Shape: (33, 19)
Aggregated DataFrame Shape: (33, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-01-01    22   True           107              1
1  2018-01-02     8   True           170              1
2  2018-01-02    14  False             1              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-12.csv
DataFrame Shape: (23854144, 7)
JFK out DataFrame Shape: (136727, 8)
Aggregated DataFrame Shape: (66887, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-12-01     0  False             4              2
1  2018-12-01     0  False             6              1
2  2018-12-01     0  False             7              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-07.csv
DataFrame Shape: (21596443, 7)
JFK out DataFrame Shape: (117540, 8)
Aggregated DataFrame Shape: (62600, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-07-01     0  False             4              3
1  2018-07-01     0  False            17              1
2  2018-07-01     0  False            37              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-02.csv
DataFrame Shape: (769940, 19)
JFK out DataFrame Shape: (43, 19)
Aggregated DataFrame Shape: (43, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-02-01    11  False           237              1
1  2018-02-05    18  False           263              1
2  2018-02-06    15   True           161              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-11.csv
DataFrame Shape: (656573, 19)
JFK out DataFrame Shape: (42, 19)
Aggregated DataFrame Shape: (42, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-11-01    12  False             1              1
1  2018-11-03     2  False           228              1
2  2018-11-03    15   True           233              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-08.csv
DataFrame Shape: (22116391, 7)
JFK out DataFrame Shape: (122868, 8)
Aggregated DataFrame Shape: (65625, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-08-01     0  False             4              1
1  2018-08-01     0  False             7              1
2  2018-08-01     0  False            17              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-09.csv
DataFrame Shape: (666708, 19)
JFK out DataFrame Shape: (38, 19)
Aggregated DataFrame Shape: (37, 5)
         Date  Hour   Min  DOLocationID  vehicle_count
0  2018-09-01    17  True           249              1
1  2018-09-02    13  True            75              1
2  2018-09-03    17  True           113              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-06.csv
DataFrame Shape: (739373, 19)
JFK out DataFrame Shape: (39, 19)
Aggregated DataFrame Shape: (39, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-06-02    21   True           164              1
1  2018-06-04     8  False           113              1
2  2018-06-04     9   True           138              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-07.csv
DataFrame Shape: (7849748, 17)
JFK out DataFrame Shape: (283346, 17)
Aggregated DataFrame Shape: (71820, 5)
         Date  Hour   Min  DOLocationID  vehicle_count
0  2018-06-30    18  True           125              1
1  2018-06-30    23  True            22              1
2  2018-06-30    23  True            24              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-01.csv

DataFrame Shape: (8759874, 17)
JFK out DataFrame Shape: (287909, 17)
Aggregated DataFrame Shape: (69014, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2017-12-31    16   True            33              1
1  2017-12-31    18  False           226              1
2  2017-12-31    23   True            68              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-05.csv
DataFrame Shape: (9224063, 17)
JFK out DataFrame Shape: (294515, 17)
Aggregated DataFrame Shape: (72852, 5)
         Date  Hour   Min  DOLocationID  vehicle_count
0  2018-04-30    23  True            42              1
1  2018-04-30    23  True            68              1
2  2018-04-30    23  True            79              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-12.csv
DataFrame Shape: (8173231, 17)
JFK out DataFrame Shape: (270434, 17)
Aggregated DataFrame Shape: (70534, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2009-01-01     0  False           256              1
1  2009-01-01     2  False           236              1
2  2018-11-09    19   True            13              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-08.csv
DataFrame Shape: (7849134, 17)
JFK out DataFrame Shape: (286551, 17)
Aggregated DataFrame Shape: (72370, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-07-31    23   True           116              1
1  2018-07-31    23   True           140              1
2  2018-08-01     0  False             4              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-02.csv
DataFrame Shape: (8492076, 17)
JFK out DataFrame Shape: (279480, 17)
Aggregated DataFrame Shape: (64480, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2008-12-31    22  False           138              1
1  2018-01-17    18  False           170              1
2  2018-01-19     1   True           230              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-01.csv
DataFrame Shape: (19808094, 7)
JFK out DataFrame Shape: (99731, 8)
Aggregated DataFrame Shape: (54362, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-01-01     0  False            14              1
1  2018-01-01     0  False            25              1
2  2018-01-01     0  False            37              3
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-10.csv
DataFrame Shape: (710510, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 5)
         Date  Hour   Min  DOLocationID  vehicle_count
0  2018-10-01    11  True           162              1
1  2018-10-02     8  True           142              1
2  2018-10-02     9  True           161              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-05.csv
DataFrame Shape: (21565692, 7)
JFK out DataFrame Shape: (112677, 8)
Aggregated DataFrame Shape: (60428, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-05-01     0  False            21              2
1  2018-05-01     0  False            22              1
2  2018-05-01     0  False            36              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-04.csv
DataFrame Shape: (21049377, 7)
JFK out DataFrame Shape: (106791, 8)
Aggregated DataFrame Shape: (58262, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-04-01     0  False             4              1
1  2018-04-01     0  False             7              3
2  2018-04-01     0  False            17              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-03.csv
DataFrame Shape: (837149, 19)
JFK out DataFrame Shape: (39, 19)
Aggregated DataFrame Shape: (39, 5)
         Date  Hour   Min  DOLocationID  vehicle_count
0  2018-03-01    23  True           233              1
1  2018-03-02    12  True           246              1
2  2018-03-04    10  True           113              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-12.csv
DataFrame Shape: (685373, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-12-01    15  False           161              1
1  2018-12-02    12   True           164              1
2  2018-12-02    17  False           246              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-09.csv
DataFrame Shape: (8040133, 17)
JFK out DataFrame Shape: (270568, 17)
Aggregated DataFrame Shape: (69866, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2009-01-01     0  False           229              1
1  2018-08-31    21  False            48              1
2  2018-08-31    21  False            65              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-06.csv
DataFrame Shape: (8713831, 17)
JFK out DataFrame Shape: (285873, 17)
Aggregated DataFrame Shape: (71257, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-05-31    21   True           244              1
1  2018-05-31    23  False           114              1
2  2018-05-31    23   True            48              3
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-04.csv
DataFrame Shape: (9305515, 17)
JFK out DataFrame Shape: (303230, 17)
Aggregated DataFrame Shape: (71306, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2008-12-31    12   True           163              1
1  2009-01-01     0  False           263              1
2  2018-03-31    17   True           164              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-09.csv
DataFrame Shape: (22147421, 7)
JFK out DataFrame Shape: (126060, 8)
Aggregated DataFrame Shape: (64406, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-09-01     0  False             7              1
1  2018-09-01     0  False            17              1
2  2018-09-01     0  False            37              2
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-07.csv
DataFrame Shape: (684455, 19)
JFK out DataFrame Shape: (45, 19)
Aggregated DataFrame Shape: (44, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2018-07-03     6  False           263              1
1  2018-07-03    21   True           234              1
2  2018-07-04    23  False           107              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-03.csv
DataFrame Shape: (9430376, 17)
JFK out DataFrame Shape: (310302, 17)
Aggregated DataFrame Shape: (72592, 5)
         Date  Hour    Min  DOLocationID  vehicle_count
0  2009-01-01     0  False            68              1
1  2009-01-01     0   True           164              1
2  2009-01-01     1  False           230              1
append to results...
file saved..
------------------------------------------------

### Further processing

In [103]:
def getcCompleteGridDf(minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    minutes = [0,30]
#     print(len(days))
#     print(len(hours))
    
    combList = list(itertools.product(*[days,hours,minutes,locations]))
    dfList = [{'Date':d, 'Hour':h, 'Min':m,'DOLocationID':l} for d,h,m,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [104]:
processedDf = dd.read_csv(processedFile)
processedDf['Min'] = processedDf['Min']*30
processedDf.head(2)

         Date  Hour  Min  DOLocationID  vehicle_count
0  2008-12-31    12    0            48              1
1  2009-01-01     0    0            68              1

In [105]:
# ensuring proper grouping since files were grouped by independently
processedDf = processedDf.groupby(['Date', 'Hour', 'Min','DOLocationID']).sum().reset_index()
processedDf.shape

(Delayed('int-32c6fd64-33a4-4189-8bbd-5a2dc9bcfd92'), 5)

In [106]:
# sanity checks
validYears = [2018]
processedDf['Date'] = dd.to_datetime(processedDf.Date, format='%Y-%m-%d')
processedDf['year'] = processedDf['Date'].dt.year
processedDf = processedDf[processedDf.year.isin(validYears)]

validMonths = list(range(1,13))
processedDf['month'] = processedDf['Date'].dt.month
processedDf = processedDf[processedDf.month.isin(validMonths)]

# processedDf.shape

In [107]:
minDate, maxDate = ('2018-01-01','2018-12-31') 
#v_types = list(set(processedDf.vehicle_type))
locations = list(set(processedDf.DOLocationID))

#print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(minDate,maxDate,locations)
dateHourDf.shape

257

(4502640, 4)

In [108]:
dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date'])

In [109]:
dateHourDf.head()

        Date  Hour  Min  DOLocationID
0 2018-01-01     0    0             1
1 2018-01-01     0    0             2
2 2018-01-01     0    0             3
3 2018-01-01     0    0             4
4 2018-01-01     0    0             5

In [110]:
processedDf.head(2)

         Date  Hour  Min  DOLocationID  vehicle_count  year  month
20 2018-01-01     0    0            13              1  2018      1
21 2018-01-01     0    0            14              1  2018      1

In [111]:
mergedDf = dd.merge(dateHourDf,processedDf[['Date', 'Hour', 'Min','DOLocationID','vehicle_count']], on=['Date', 'Hour', 'Min','DOLocationID'], how='left')
mergedDf = mergedDf.fillna(0)
mergedDf['Date'] = mergedDf['Date'].dt.date
print(mergedDf.shape)
mergedDf.head(3)

(Delayed('int-0e1ccc3c-dd85-4e78-a889-95a258d1db01'), 5)

         Date  Hour  Min  DOLocationID  vehicle_count
0  2018-01-01     0    0             1            0.0
1  2018-01-01     0    0             2            0.0
2  2018-01-01     0    0             3            0.0

In [112]:
mergedDf = mergedDf.compute()

In [113]:
mergedDf['Date'] = mergedDf['Date'].astype('str')
mergedDf['Hour'] = mergedDf['Hour'].astype('str')
mergedDf['DOLocationID'] = mergedDf['DOLocationID'].astype('str')

In [114]:
mergedDf.to_csv(processedFile,index=False)

In [98]:
processedFile

'../processedData/LGAVehicleBy30Min.csv'