In [11]:
import pandas as pd
import numpy as np

In [31]:
dataset = [[1, 2, 0],
           [0, 1, 1],
           [5, 6, 5]]
df = pd.DataFrame(dataset)
df

   0  1  2
0  1  2  0
1  0  1  1
2  5  6  5

In [32]:
df = df.replace(0, np.nan)
df = df.fillna(df.mean())

In [33]:
df

     0  1    2
0  1.0  2  3.0
1  3.0  1  1.0
2  5.0  6  5.0

In [38]:
((df - df.mean()) / df.std(ddof=0)).values.tolist()

[[-1.224744871391589, -0.4629100498862757, 0.0],
 [0.0, -0.9258200997725514, -1.224744871391589],
 [1.224744871391589, 1.3887301496588271, 1.224744871391589]]